/* ============================================
   MEDIA QUERIES
   ============================================ */

@media (max-width: 768px) {
  .header-burger {
    display: flex !important;
  }

  .header {
    padding-top: calc(20 * 100vw / var(--base-width-mobile)) !important;
    padding-bottom: calc(20 * 100vw / var(--base-width-mobile)) !important;
    padding-left: calc(18 * 100vw / var(--base-width-mobile)) !important;
    padding-right: calc(18 * 100vw / var(--base-width-mobile)) !important;
  }

  .body-txt-18 {
    font-size: calc(16 * 100vw / var(--base-width-mobile)) !important;
    line-height: calc(21 * 100vw / var(--base-width-mobile)) !important;
    letter-spacing: -1%;
  }

  .about .section-text {
    max-width: 100%;
    width: 100%;
  }

  .about .body-txt {
    max-width: 100%;
    width: 100%;
  }

  .h2 {
    font-size: calc(44 * 100vw / var(--base-width-mobile)) !important;
    line-height: calc(48 * 100vw / var(--base-width-mobile)) !important;
    letter-spacing: -5% !important;
  }

  .h2 .serif {
    font-size: calc(44 * 100vw / var(--base-width-mobile)) !important;
    line-height: calc(48 * 100vw / var(--base-width-mobile)) !important;
    letter-spacing: -5% !important;
  }

  /* do by 15% smaller texts in card right */

  .hero-card-right {
    top: 45% !important;
    right: -20% !important;
    transform: translateY(-50%) !important;
    width: fit-content !important;
    height: auto !important;
    border: 1px solid #ffffff !important;
    border-radius: calc(16 * 100vw / var(--base-width-mobile)) !important;
    padding: calc(12 * 100vw / var(--base-width-mobile)) !important;
    gap: calc(12 * 100vw / var(--base-width-mobile)) !important;
  }

  .hero-card-right .icon {
    width: calc(20 * 100vw / var(--base-width-mobile)) !important;
    height: calc(20 * 100vw / var(--base-width-mobile)) !important;
    max-width: calc(20 * 100vw / var(--base-width-mobile)) !important;
    min-width: calc(20 * 100vw / var(--base-width-mobile)) !important;
    max-height: calc(20 * 100vw / var(--base-width-mobile)) !important;
    min-height: calc(20 * 100vw / var(--base-width-mobile)) !important;
  }

  .hero-card-right .icon img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
    object-position: center !important;
  }

  .hero-card-right button {
    height: calc(29 * 100vw / var(--base-width-mobile)) !important;
    max-height: calc(29 * 100vw / var(--base-width-mobile)) !important;
    min-height: calc(29 * 100vw / var(--base-width-mobile)) !important;
    padding: calc(6 * 100vw / var(--base-width-mobile))
      calc(12 * 100vw / var(--base-width-mobile)) !important;
    border-radius: calc(10 * 100vw / var(--base-width-mobile)) !important;
    font-size: calc(12 * 100vw / var(--base-width-mobile)) !important;
  }

  .hero-card-right button .arrow {
    width: calc(14 * 100vw / var(--base-width-mobile)) !important;
    height: calc(14 * 100vw / var(--base-width-mobile)) !important;
    max-width: calc(14 * 100vw / var(--base-width-mobile)) !important;
    min-width: calc(14 * 100vw / var(--base-width-mobile)) !important;
    max-height: calc(14 * 100vw / var(--base-width-mobile)) !important;
    min-height: calc(14 * 100vw / var(--base-width-mobile)) !important;
    border-radius: calc(4 * 100vw / var(--base-width-mobile)) !important;
  }

  .hero-card-right button .arrow img {
    width: 65% !important;
    height: 65% !important;
    object-fit: contain !important;
    object-position: center !important;
  }

  .hero-card-right-content {
    gap: calc(12 * 100vw / var(--base-width-mobile)) !important;
  }

  .hero-card-right-content-text {
    gap: calc(4 * 100vw / var(--base-width-mobile)) !important;
  }

  .hero-card-right-content-text .gsap-percentage {
    font-size: calc(18 * 100vw / var(--base-width-mobile)) !important;
  }

  .hero-card-right-content-text .gsap-label {
    font-size: calc(14 * 100vw / var(--base-width-mobile)) !important;
  }

  .hero .hero-card-left {
    top: calc(20 * 100vw / var(--base-width-mobile));
    left: -20%;
    width: calc(175 * 100vw / var(--base-width-mobile));
    height: auto;
    padding: calc(4 * 100vw / var(--base-width-mobile)) !important;
    border-radius: calc(17 * 100vw / var(--base-width-mobile)) !important;
    backdrop-filter: blur(
      calc(137.07 * 100vw / var(--base-width-mobile))
    ) !important;
  }

  .hero-card-left div:nth-child(1) {
    padding: calc(7 * 100vw / var(--base-width-mobile))
      calc(12 * 100vw / var(--base-width-mobile)) !important;
    font-size: calc(14 * 100vw / var(--base-width-mobile)) !important;
    line-height: calc(110%) !important;
  }

  .hero-card-left div:nth-child(2) {
    padding: calc(7 * 100vw / var(--base-width-mobile))
      calc(12 * 100vw / var(--base-width-mobile)) !important;
    font-size: calc(12 * 100vw / var(--base-width-mobile)) !important;
    line-height: calc(105%) !important;
    border-radius: calc(12 * 100vw / var(--base-width-mobile)) !important;
  }

  .hero .hero-main-card::after {
    height: calc(150 * 100vw / var(--base-width-mobile));
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.7) 50%,
      transparent 100%
    );
  }

  .h1 {
    font-size: calc(44 * 100vw / var(--base-width-mobile));
    line-height: calc(48 * 100vw / var(--base-width-mobile));
    letter-spacing: -5%;
  }

  .hero-footer {
    display: none !important;
  }

  .hero .hero-cards-wrapper {
    position: relative;
    transform: translateX(0);
    height: auto;
    left: 0;
    transform-origin: center center;
    translate: 0 -15% !important;

    width: calc(255 * 100vw / var(--base-width-mobile));
    max-width: calc(255 * 100vw / var(--base-width-mobile));
    min-width: calc(255 * 100vw / var(--base-width-mobile));
    height: calc(336 * 100vw / var(--base-width-mobile));
    max-height: calc(336 * 100vw / var(--base-width-mobile));
    min-height: calc(336 * 100vw / var(--base-width-mobile));
  }

  .hero .hero-main-card {
    border-radius: calc(16 * 100vw / var(--base-width-mobile));
  }

  .hero .hero-main-card-content {
    gap: calc(4 * 100vw / var(--base-width-mobile));
    padding: calc(32 * 100vw / var(--base-width-mobile))
      calc(16 * 100vw / var(--base-width-mobile));
  }

  .bordered-line {
    height: calc(1 * 100vw / var(--base-width-mobile));
    width: 100%;
    border-radius: calc(1 * 100vw / var(--base-width-mobile));
  }

  .progress-content {
    gap: calc(9 * 100vw / var(--base-width-mobile));
  }

  .progress-label {
    font-size: calc(12 * 100vw / var(--base-width-mobile));
    line-height: calc(110%);
    letter-spacing: 0%;
  }

  .progress-input {
    height: calc(8 * 100vw / var(--base-width-mobile));
    border-radius: calc(4 * 100vw / var(--base-width-mobile));
  }

  .progress-input::-webkit-slider-runnable-track {
    height: calc(4 * 100vw / var(--base-width-mobile));
    border-radius: calc(1 * 100vw / var(--base-width-mobile));
  }

  .progress-input::-moz-range-track {
    height: calc(4 * 100vw / var(--base-width-mobile));
    border-radius: calc(1 * 100vw / var(--base-width-mobile));
  }

  .progress-input::-webkit-slider-thumb {
    width: calc(6 * 100vw / var(--base-width-mobile));
    height: calc(14 * 100vw / var(--base-width-mobile));
    border-radius: calc(4 * 100vw / var(--base-width-mobile));
    transform: translateY(-30%);
  }

  .progress-input::-moz-range-thumb {
    width: calc(6 * 100vw / var(--base-width-mobile));
    height: calc(14 * 100vw / var(--base-width-mobile));
    border-radius: calc(4 * 100vw / var(--base-width-mobile));
    transform: translateY(-30%);
  }

  .h1 .serif {
    font-size: calc(52 * 100vw / var(--base-width-mobile));
    line-height: calc(50 * 100vw / var(--base-width-mobile));
    letter-spacing: -4%;
  }

  .card-title-28 {
    font-size: calc(22 * 100vw / var(--base-width-mobile));
    line-height: calc(24 * 100vw / var(--base-width-mobile));
    letter-spacing: -2%;
  }

  .header-buttons button {
    height: calc(40 * 100vw / var(--base-width-mobile));
    max-height: calc(40 * 100vw / var(--base-width-mobile));
    min-height: calc(40 * 100vw / var(--base-width-mobile));
    gap: calc(8 * 100vw / var(--base-width-mobile));
  }

  .header-buttons > *:first-child {
    display: none;
  }

  .section-label {
    font-size: calc(14 * 100vw / var(--base-width-mobile));
    letter-spacing: -2%;
    line-height: calc(110%);
  }

  .header-logo {
    width: calc(83 * 100vw / var(--base-width-mobile));
    height: calc(32 * 100vw / var(--base-width-mobile));
    max-width: calc(83 * 100vw / var(--base-width-mobile));
    min-width: calc(83 * 100vw / var(--base-width-mobile));
    max-height: calc(32 * 100vw / var(--base-width-mobile));
    min-height: calc(32 * 100vw / var(--base-width-mobile));
  }

  .header-menu {
    display: none;
  }

  .body-txt {
    font-size: calc(16 * 100vw / var(--base-width-mobile));
    line-height: calc(21 * 100vw / var(--base-width-mobile));
    letter-spacing: -1%;
  }

  .button {
    height: calc(44 * 100vw / var(--base-width-mobile));
    max-height: calc(44 * 100vw / var(--base-width-mobile));
    min-height: calc(44 * 100vw / var(--base-width-mobile));
    padding: calc(6 * 100vw / var(--base-width-mobile))
      calc(16 * 100vw / var(--base-width-mobile));
    border-radius: calc(14 * 100vw / var(--base-width-mobile));
    font-size: calc(16 * 100vw / var(--base-width-mobile));
    line-height: calc(21 * 100vw / var(--base-width-mobile));
    letter-spacing: -1%;
  }

  .button.with-arrow .arrow {
    width: calc(21 * 100vw / var(--base-width-mobile));
    height: calc(21 * 100vw / var(--base-width-mobile));
    max-width: calc(21 * 100vw / var(--base-width-mobile));
    min-width: calc(21 * 100vw / var(--base-width-mobile));
    max-height: calc(21 * 100vw / var(--base-width-mobile));
    min-height: calc(21 * 100vw / var(--base-width-mobile));
    border-radius: calc(6 * 100vw / var(--base-width-mobile));
  }

  .button.with-arrow .arrow img {
    width: calc(10 * 100vw / var(--base-width-mobile));
    height: calc(10 * 100vw / var(--base-width-mobile));
    max-width: calc(10 * 100vw / var(--base-width-mobile));
    min-width: calc(10 * 100vw / var(--base-width-mobile));
    max-height: calc(10 * 100vw / var(--base-width-mobile));
    min-height: calc(10 * 100vw / var(--base-width-mobile));
  }

  .button.with-arrow {
    gap: calc(8 * 100vw / var(--base-width-mobile));
    padding: calc(6 * 100vw / var(--base-width-mobile))
      calc(9 * 100vw / var(--base-width-mobile))
      calc(6 * 100vw / var(--base-width-mobile))
      calc(16 * 100vw / var(--base-width-mobile));
  }

  .container {
    padding-left: calc(18 * 100vw / var(--base-width-mobile));
    padding-right: calc(18 * 100vw / var(--base-width-mobile));
  }

  .section-text-flex {
    flex-direction: column;
    gap: calc(15 * 100vw / var(--base-width-mobile));
  }

  .hero .section-text {
    max-width: 100%;
    width: 100%;
  }

  .hero .container {
    padding-top: calc(120 * 100vw / var(--base-width-mobile));
  }

  .hero .section-label {
    max-width: calc(235 * 100vw / var(--base-width-mobile));
  }

  .mobile-menu {
    display: block;
  }
}

@media (max-width: 768px) {
  .mobile-only {
    display: unset;
  }
}

@media (min-width: 768px) {
  .desktop-only {
    display: unset;
  }
}

