.statusLabel {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(5 * 100vw / var(--base-width));
    padding: calc(10 * 100vw / var(--base-width)) calc(10 * 100vw / var(--base-width));
    border-radius: calc(46 * 100vw / var(--base-width));
    border: calc(0.5 * 100vw / var(--base-width)) solid rgba(255, 255, 255, 0.56);
    backdrop-filter: blur(calc(22 * 100vw / var(--base-width)));
}

.statusLabel.small {
    max-height: calc(18 * 100vw / var(--base-width));
    min-height: calc(18 * 100vw / var(--base-width));
    height: calc(18 * 100vw / var(--base-width));
}

.statusLabel span {
    font-weight: 500;
    font-size: calc(10 * 100vw / var(--base-width)) !important;
    line-height: 100%;
    letter-spacing: -1%;
    color: #fff;
}

.statusLabel img {
    width: calc(8 * 100vw / var(--base-width));
    height: calc(10 * 100vw / var(--base-width));
    max-width: calc(8 * 100vw / var(--base-width));
    min-width: calc(8 * 100vw / var(--base-width));
    max-height: calc(10 * 100vw / var(--base-width));
    min-height: calc(10 * 100vw / var(--base-width));
    object-fit: contain;
    object-position: center;
}

@media (max-width: 767px) {
    .statusLabel {
        gap: calc(6 * 100vw / var(--base-width-mobile));
        padding: calc(6 * 100vw / var(--base-width-mobile)) calc(6 * 100vw / var(--base-width-mobile));
        border-radius: calc(32 * 100vw / var(--base-width-mobile));
        border: calc(0.5 * 100vw / var(--base-width-mobile)) solid rgba(255, 255, 255, 0.56);
        backdrop-filter: blur(calc(12 * 100vw / var(--base-width-mobile)));
    }

    .statusLabel span {
        font-size: calc(8 * 100vw / var(--base-width-mobile)) !important;
    }

    .statusLabel img {
        width: calc(6 * 100vw / var(--base-width-mobile));
        height: calc(7 * 100vw / var(--base-width-mobile));
        max-width: calc(6 * 100vw / var(--base-width-mobile));
        min-width: calc(6 * 100vw / var(--base-width-mobile));
        max-height: calc(7 * 100vw / var(--base-width-mobile));
        min-height: calc(7 * 100vw / var(--base-width-mobile));
    }
}