@property --angle {
   syntax: '<angle>';
   initial-value: 0deg;
   inherits: false;
}

@keyframes rotate-border {
   to {
      --angle: 360deg;
   }
}

.container {
   height: 100%;
   padding-top: 86px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5vh;
   @media (width <= 1200px) {
      gap: 2.2vh;
   }
   @media (max-width: 767px) {
      padding-top: 107px;
      gap: 3vh;
   }
   & .textContainer {
      --inline-padding: 20px;
      --inner-width: 720px;
      padding-top: max(20px, 9vh);
      padding-inline: var(--inline-padding);
      width: 100%;
      max-width: calc(var(--inner-width) + var(--inline-padding) * 2);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.5vh;
      @media (max-width: 850px) {
         padding-top: max(20px, 7vh);
         gap: 2.2vh;
      }

      @media (max-width: 767px) {
         --inner-width: 400px;

         gap: 1vh;
         text-wrap: pretty;
      }

      & .label {
         font-size: clamp(0.625rem, 1.6vh, 0.875rem);
         line-height: 1.2;
         letter-spacing: 0.02em;
         @media (max-width: 850px) {
            padding-bottom: 4px;
         }
      }

      & .title {
         text-align: center;
         font-size: clamp(3rem, 8vh, 4.5rem);
         line-height: 1;
         letter-spacing: -0.03em;

         @media (max-width: 1200px) {
            font-size: clamp(3rem, 6.6vh, 3.75rem);
            line-height: 1.13;
         }

         @media (max-width: 768px) {
            font-size: clamp(2rem, 4.5vh, 2.5rem);
            letter-spacing: -0.05em;
         }

         @media (max-width: 380px) {
            font-size: clamp(1.75rem, 4vh, 2.25rem);
         }

         & .serif {
            line-height: 1;
            font-size: clamp(3.875rem, 9vh, 5.125rem);
            letter-spacing: -0.04em;
            line-height: 1.18;

            @media (max-width: 1200px) {
               font-size: clamp(3rem, 8vh, 4.5rem);
               line-height: 0.95;
               letter-spacing: -0.03em;
            }

            @media (max-width: 768px) {
               font-size: clamp(2.5rem, 5.5vh, 3rem);
               font-style: normal;
               letter-spacing: -0.05em;
            }

            @media (max-width: 380px) {
               font-size: clamp(2rem, 5vh, 2.75rem);
            }
         }
      }

      & .description {
         font-weight: 500;
         font-family: var(--font-sans);
         color: var(--color-text-secondary);
         opacity: 0.5;
         font-size: clamp(1rem, 2.5vh, 1.25rem);
         line-height: 1.2;
         letter-spacing: -0.01em;
         text-align: center;
         text-wrap: pretty;

         @media (max-width: 1200px) {
            font-size: 1rem;
            line-height: 1.3;
         }

         @media (max-width: 767px) {
            /* text-wrap: pretty; */
            margin-top: 1.8vh;
         }
      }
   }
   & .cardsContainer {
      display: grid;
      gap: 23px;
      grid-template-columns: repeat(3, 257px);
      @media (width <= 850px) {
         grid-template-columns: repeat(1, 1fr);
         gap: 13px;
         width: 100%;
         max-width: 420px;
         padding-inline: 20px;
      }
      & .card {
         position: relative;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         padding: 20px;
         padding-top: 14px;
         border-radius: 20px;
         aspect-ratio: 257/138;
         background: rgba(0, 0, 0, 0.2);
         backdrop-filter: blur(50px);

         @media (max-width: 850px) {
            aspect-ratio: unset;
            min-height: 120px;
            padding-inline: 14px;
            padding-block: 15px;
         }

         @media (max-width: 380px) {
            padding-inline: 12px;
            padding-block: 13px;
         }

         &:before {
            content: '';
            position: absolute;
            inset: 0;
            border: 1px solid transparent !important;
            border-radius: inherit;
            background: repeating-conic-gradient(
                  from var(--angle),
                  #ffffff10 0%,
                  #ffffff10 12%,
                  #ffffff50 25%,
                  #ffffff10 38%,
                  #ffffff10 50%
               )
               border-box;
            -webkit-mask:
               linear-gradient(#fff 0 0) padding-box,
               linear-gradient(#fff 0 0);
            mask:
               linear-gradient(#fff 0 0) padding-box,
               linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out;
            mask-composite: exclude;
            animation: rotate-border 8s linear infinite;
            pointer-events: none;
            z-index: 2;
         }
         & .cardContent {
            display: flex;
            flex-direction: column;
            gap: 4px;
            & .cardTitle {
               font-family: var(--font-serif);
               font-style: italic;
               font-size: clamp(0.825rem, 2.5vh, 1.25rem);
               line-height: 1.2;
               letter-spacing: -0.02em;
					@media (width <= 850px) {
						font-size: clamp(0.825rem, 2vh, 1.125rem);
						line-height: 1.15; 
					}
            }
            & .cardDescription {
               font-family: var(--font-sans);
               font-size: clamp(0.75rem, 1.6vh, 0.875rem);
               font-weight: 500;
               line-height: 1.3;
               letter-spacing: -0.01em;
               color: var(--color-text-primary);
               opacity: 0.33;
            }
         }
      }
   }
}
