.label {
  font-family: var(--font-sans);
  font-weight: 500;
  color: var(--color-text-secondary);
  text-transform: uppercase;
  letter-spacing: 2%;
  font-size: calc(12 * 100vw / var(--base-width));
  opacity: 0;
}

@media (max-width: 1024px) {
  .label {
    font-size: calc(18 * 100vw / var(--base-width-tablet));
    line-height: 140%;

  }
}

@media (max-width: 767px) {
  .label {
    font-size: calc(10 * 100vw / var(--base-width-mobile));
    letter-spacing: -2%;
  }
}