.label {
  font-family: var(--font-sans);
  font-weight: 500;
  color: var(--color-text-secondary);
  text-transform: uppercase;
  letter-spacing: 2%;
  line-height: 100%;
  font-size: calc(14 * 100vw / var(--base-width));
  opacity: 0;
}

@media (max-width: 1024px) {
  .label {
    font-size: calc(14 * 100vw / var(--base-width-tablet));
  }
}

@media (max-width: 768px) {
  .label {
    font-size: calc(14 * 100vw / var(--base-width-mobile));
    letter-spacing: -2%;
    line-height: calc(110%);
  }
}