.container {
  max-width: 100%;
  width: 100%;
  padding: calc(40 * 100vw / var(--base-width));
}

@media (max-width: 1024px) {
  .container {
    padding: calc(30 * 100vw / var(--base-width-tablet));
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: calc(18 * 100vw / var(--base-width-mobile));
    padding-right: calc(18 * 100vw / var(--base-width-mobile));
  }
}