.traction {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
}

.tractionBody {
    display: flex;
    align-items: stretch;
    gap: calc(18 * 100vw / var(--base-width));

    max-width: calc(800 * 100vw / var(--base-width));
    width: 100%;

    max-height: calc(200 * 100vw / var(--base-width));
    height: 100%;
}

.container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: calc(24 * 100vw / var(--base-width));

    padding-top: calc(100 * 100vw / var(--base-width));
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: calc(30 * 100vw / var(--base-width));
}

@media (max-width: 1024px) {
    .traction {
        height: 100svh;
        min-height: 100svh;
        max-height: 100svh;
    }

    .container {
        padding-top: calc(200 * 100vw / var(--base-width-tablet));
        padding-bottom: calc(100 * 100vw / var(--base-width-tablet));

        gap: calc(24 * 100vw / var(--base-width-tablet));
    }


    .textInner {
        gap: calc(24 * 100vw / var(--base-width-tablet));
    }

    .tractionBody {
        max-width: calc(800 * 100vw / var(--base-width-tablet));
        max-height: calc(200 * 100vw / var(--base-width-tablet));
        height: 100%;
        gap: calc(18 * 100vw / var(--base-width-tablet));
    }
}

@media (max-width: 767px) {
    .tractionBody {
        flex-direction: column;
        gap: calc(13 * 100vw / var(--base-width-mobile));
        max-width: 100%;

        max-height: unset;
    }

    .container {
        padding-top: calc(100 * 100vw / var(--base-width-mobile));
        justify-content: space-between;
        gap: calc(24 * 100vw / var(--base-width-mobile));
    }

    .textInner {
        gap: calc(8 * 100vw / var(--base-width-mobile));
    }

    .text {
        gap: calc(25 * 100vw / var(--base-width-mobile));
    }
}