.container {
   height: 100%;
   padding-top: 86px;
   display: flex;
   flex-direction: column;
   align-items: center;

   @media (max-width: 767px) {
      padding-top: 107px;
   }

   & .textContainer {
      --inline-padding: 16px;
      --inner-width: 720px;
      padding-top: max(20px, 9vh);
      padding-inline: var(--inline-padding);
      width: 100%;
      max-width: calc(var(--inner-width) + var(--inline-padding) * 2);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.5vh;

      @media (max-width: 1200px) {
         padding-top: max(20px, 6vh);
         gap: 2vh;
      }

      @media (max-width: 767px) {
         gap: 1vh;
         text-wrap: pretty;
      }

      & .label {
         font-size: clamp(0.625rem, 1.6vh, 0.875rem);
         line-height: 1.2;
         letter-spacing: 0.02em;
      }

      & .title {
         text-align: center;
         font-size: clamp(3rem, 8vh, 4.5rem);
         line-height: 1;
         letter-spacing: -0.03em;

         @media (max-width: 1200px) {
            font-size: clamp(3rem, 6.5vh, 3.75rem);
         }

         @media (max-width: 767px) {
            font-size: clamp(2rem, 5vh, 2.75rem);
            letter-spacing: -0.05em;
         }

         @media (max-width: 380px) {
            font-size: clamp(1.75rem, 4vh, 2.25rem);
         }

         & .serif {
            line-height: 1;
            font-size: clamp(3rem, 8vh, 4.5rem);
            letter-spacing: -0.03em;

            @media (max-width: 767px) {
               font-size: clamp(3rem, 7vh, 4.5rem);
               letter-spacing: -0.05em;
            }

            @media (max-width: 767px) {
               font-size: clamp(2.5rem, 6vh, 3.125rem);

               font-style: normal;
            }

            @media (max-width: 380px) {
               font-size: clamp(2rem, 5vh, 2.75rem);
            }
         }
      }

      & .description {
         font-weight: 500;
         font-family: var(--font-sans);
         color: var(--color-text-secondary);
         opacity: 0.5;
         font-size: clamp(1rem, 2.5vh, 1.25rem);
         line-height: 1.2;
         max-width: 508px;
         letter-spacing: -0.01em;
         text-align: center;

         @media (max-width: 1200px) {
            font-size: 1rem;
            line-height: 1.3;
         }

         @media (max-width: 767px) {
            text-wrap: pretty;
            margin-top: 7px;
         }
      }
   }

   & .sliderContainer {
      margin-top: 4vh;

      @media (max-width: 1200px) {
         margin-top: 4.5vh;
      }

      @media (max-width: 767px) {
         margin-top: 5.5vh;
      }

      width: 100%;

      & .slideContainer {
         width: 360px;
         max-width: calc(100% - 20px);
         aspect-ratio: 360/431;

         & .slide {
            position: relative;
            border-radius: 32px;
            overflow: clip;

            @media (max-width: 480px) {
               width: 335px;
               aspect-ratio: 335/420;
            }

            & .bg {
               inset: 50% 0 0 65% !important;
               width: auto !important;
               height: auto !important;
               transform: translate(-50%, -50%);
               z-index: 0;
            }

            & .slideContent {
               display: flex;
               gap: 12px;
               flex-direction: column;
               height: 100%;
               position: relative;
               z-index: 1;
               background: rgba(0, 0, 0, 0.25);
               backdrop-filter: blur(25px);
               padding: 18px;

               @media (max-width: 480px) {
                  padding: 8px;
                  gap: 20px;
               }

               & .image {
                  border-radius: 36px;
                  max-width: 100%;
                  height: auto;
                  object-fit: cover;
                  aspect-ratio: 324/239;

                  @media (max-width: 480px) {
                     border-radius: 28px;
                  }
               }

               & .slideTextContainer {
                  text-align: center;

                  & .name {
                     font-family: var(--font-serif);
                     font-style: italic;
                     font-size: 1.5rem;
                     line-height: 1.2;
                     letter-spacing: -0.01em;
                     color: var(--color-text-secondary);
                  }

                  & .position {
                     margin-top: 2px;
                     font-family: var(--font-sans);
                     font-weight: 500;
                     text-transform: uppercase;
                     color: var(--color-text-subtle);
                     font-size: 0.75rem;
                     letter-spacing: 0.02em;
                     line-height: 1.15;
                  }

                  & .description {
                     margin-top: 16px;
                     font-family: var(--font-sans);
                     font-weight: 500;
                     color: var(--color-text-secondary);
                     font-size: 1rem;
                     line-height: 1.2;
                     letter-spacing: -0.01em;
                  }
               }
            }
         }
      }
   }
}