.progressContent {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   gap: calc(8 * 100vw / var(--base-width));
   width: 100%;
}

.progressLabel {
   font-weight: 500;
   font-family: var(--font-sans);
   font-size: calc(14 * 100vw / var(--base-width));
   line-height: 100%;
   letter-spacing: 0%;
   color: #fff;
}

.progressInput {
   width: 100%;
   height: calc(8 * 100vw / var(--base-width));
   --progress-width: 0%;
   --progress-color-1: #1dc47d;
   --progress-color-2: #1dc47d;
   -webkit-appearance: none;
   appearance: none;
   background: linear-gradient(
      to right,
      var(--progress-color-1) 0%,
      var(--progress-color-2) var(--progress-width),
      rgba(255, 255, 255, 0.13) var(--progress-width),
      rgba(255, 255, 255, 0.13) 100%
   );
   cursor: pointer;
   border-radius: calc(5 * 100vw / var(--base-width));
   outline: none;
   position: relative;
   pointer-events: auto;
   z-index: 100;
   isolation: isolate;
}

.progressInput::-webkit-slider-runnable-track {
   width: 100%;
   height: calc(8 * 100vw / var(--base-width));
   background: linear-gradient(
      to right,
      var(--progress-color-1) 0%,
      var(--progress-color-2) var(--progress-width),
      rgba(255, 255, 255, 0.13) var(--progress-width),
      rgba(255, 255, 255, 0.13) 100%
   );
   border-radius: calc(5 * 100vw / var(--base-width));
}

.progressInput::-moz-range-track {
   width: 100%;
   height: calc(8 * 100vw / var(--base-width));
   background: linear-gradient(
      to right,
      var(--progress-color-1) 0%,
      var(--progress-color-2) var(--progress-width),
      rgba(255, 255, 255, 0.13) var(--progress-width),
      rgba(255, 255, 255, 0.13) 100%
   );
   border-radius: calc(5 * 100vw / var(--base-width));
   border: none;
}

.progressInput::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: calc(5 * 100vw / var(--base-width));
   height: calc(14 * 100vw / var(--base-width));
   background: var(--progress-color-2);
   cursor: pointer;
   border-radius: calc(4 * 100vw / var(--base-width));
   position: relative;
   margin-top: 0;
   transform: translateY(-20%);
}

.progressInput::-moz-range-thumb {
   width: calc(5 * 100vw / var(--base-width));
   height: calc(14 * 100vw / var(--base-width));
   background: var(--progress-color-2);
   cursor: pointer;
   border: none;
   border-radius: calc(4 * 100vw / var(--base-width));
   transform: translateY(-20%);
}

.progressInput.green {
   --progress-color-1: #1dc47d;
   --progress-color-2: #1dc47d;
}

.progressInput.orange {
   --progress-color-1: #f5c842;
   --progress-color-2: #f5c842;
}
.progressInput.blue-gradient {
   --progress-color-1: rgba(178.74, 197.11, 255, 1);
   --progress-color-2: rgba(48.43, 73.63, 153, 1);
}

@media (max-width: 1024px) {
  .progressContent {
    gap: calc(9 * 100vw / var(--base-width-mobile));
  }

  .progressLabel {
    font-size: calc(12 * 100vw / var(--base-width-mobile));
    line-height: calc(110%);
    letter-spacing: 0%;
  }

  .progressInput {
    height: calc(8 * 100vw / var(--base-width-mobile));
    border-radius: calc(4 * 100vw / var(--base-width-mobile));
  }

  .progressInput::-webkit-slider-runnable-track {
    height: calc(4 * 100vw / var(--base-width-mobile));
    border-radius: calc(1 * 100vw / var(--base-width-mobile));
  }

  .progressInput::-moz-range-track {
    height: calc(4 * 100vw / var(--base-width-mobile));
    border-radius: calc(1 * 100vw / var(--base-width-mobile));
  }

  .progressInput::-webkit-slider-thumb {
    width: calc(6 * 100vw / var(--base-width-mobile));
    height: calc(14 * 100vw / var(--base-width-mobile));
    border-radius: calc(4 * 100vw / var(--base-width-mobile));
    transform: translateY(-30%);
  }

  .progressInput::-moz-range-thumb {
    width: calc(6 * 100vw / var(--base-width-mobile));
    height: calc(14 * 100vw / var(--base-width-mobile));
    border-radius: calc(4 * 100vw / var(--base-width-mobile));
    transform: translateY(-30%);
  }
}

@media (max-width: 767px) {
   .progressContent {
      gap: calc(9 * 100vw / var(--base-width-mobile));
   }

   .progressLabel {
      font-size: calc(12 * 100vw / var(--base-width-mobile));
      line-height: calc(110%);
      letter-spacing: 0%;
   }

   .progressInput {
      height: calc(8 * 100vw / var(--base-width-mobile));
      border-radius: calc(4 * 100vw / var(--base-width-mobile));
   }

   .progressInput::-webkit-slider-runnable-track {
      height: calc(4 * 100vw / var(--base-width-mobile));
      border-radius: calc(1 * 100vw / var(--base-width-mobile));
   }

   .progressInput::-moz-range-track {
      height: calc(4 * 100vw / var(--base-width-mobile));
      border-radius: calc(1 * 100vw / var(--base-width-mobile));
   }

   .progressInput::-webkit-slider-thumb {
      width: calc(6 * 100vw / var(--base-width-mobile));
      height: calc(14 * 100vw / var(--base-width-mobile));
      border-radius: calc(4 * 100vw / var(--base-width-mobile));
      transform: translateY(-30%);
   }

   .progressInput::-moz-range-thumb {
      width: calc(6 * 100vw / var(--base-width-mobile));
      height: calc(14 * 100vw / var(--base-width-mobile));
      border-radius: calc(4 * 100vw / var(--base-width-mobile));
      transform: translateY(-30%);
   }
}
