.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  cursor: default;

}

.container {
  padding-top: calc(80 * 100vw / var(--base-width)) !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  gap: calc(20 * 100vw / var(--base-width));
}

.text {
  max-width: calc(900 * 100vw / var(--base-width));
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: calc(15 * 100vw / var(--base-width));
  align-items: center;
  justify-content: center;
  text-align: center;
}

.buttons {
  display: flex;
  gap: calc(24 * 100vw / var(--base-width));
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  order: 3;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  padding: calc(20 * 100vw / var(--base-width));
}

.footerLeft {
  max-width: calc(500 * 100vw / var(--base-width));
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(16 * 100vw / var(--base-width));
  align-items: flex-start;
  justify-content: flex-start;
}

.footerRight {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: calc(16 * 100vw / var(--base-width));
}

.scrollIcon {
  width: calc(20 * 100vw / var(--base-width));
  height: calc(20 * 100vw / var(--base-width));
  max-width: calc(20 * 100vw / var(--base-width));
  min-width: calc(20 * 100vw / var(--base-width));
  max-height: calc(20 * 100vw / var(--base-width));
  min-height: calc(20 * 100vw / var(--base-width));
}

.scrollIcon img {
  width: 100%;
  height: 100%;
}

.scrollText {
  font-weight: 400;
  font-style: italic;
  font-family: var(--font-serif);
  font-size: calc(14 * 100vw / var(--base-width));
  line-height: 100%;
  letter-spacing: -2%;
  color: #fff;
  text-align: right;
}

@media (max-width: 1024px) {
  .hero {
    height: 100svh;
    min-height: 100svh;
    max-height: 100svh;
  }

  .buttons {
    gap: calc(24 * 100vw / var(--base-width-tablet));
  }

  .text {
    max-width: 100%;
  }

  .container {
    padding-top: calc(120 * 100vw / var(--base-width-tablet)) !important;
    padding-bottom: calc(200 * 100vw / var(--base-width-tablet)) !important;
    gap: calc(30 * 100vw / var(--base-width-tablet));
    height: 100svh;
    min-height: 100svh;
    max-height: 100svh;
  }

  .footerLeft {
    max-width: 100%;
  }



  .scrollText {
    font-size: calc(25 * 100vw / var(--base-width-tablet));
  }

  .scrollIcon {
    width: calc(25 * 100vw / var(--base-width-tablet));
    height: calc(25 * 100vw / var(--base-width-tablet));
    max-width: calc(25 * 100vw / var(--base-width-tablet));
    min-width: calc(25 * 100vw / var(--base-width-tablet));
    max-height: calc(25 * 100vw / var(--base-width-tablet));
    min-height: calc(25 * 100vw / var(--base-width-tablet));
  }
}

@media (max-width: 767px) {

  .container {
    padding-block: calc(80 * 100vw / var(--base-width-mobile)) calc(80 * 100vw / var(--base-width-mobile)) !important;
    gap: calc(20 * 100vw / var(--base-width-mobile));
    justify-content: start;

  }

  .buttons {
    gap: calc(24 * 100vw / var(--base-width-mobile));
  }

  .text {
    max-width: 100%;
    width: 100%;
    gap: calc(10 * 100vw / var(--base-width-mobile));
  }

  .footer {
    display: none !important;
  }
}