.footer {
    height: 100vh;
}

.footerAnimated {
    opacity: 0;
}

.container {
    height: 100%;
    display: flex;
    align-items: end;
}

.footerLogo {
    width: calc(95 * 100vw / var(--base-width));
    height: calc(38 * 100vw / var(--base-width));
    max-width: calc(95 * 100vw / var(--base-width));
    min-width: calc(95 * 100vw / var(--base-width));
    max-height: calc(38 * 100vw / var(--base-width));
    min-height: calc(38 * 100vw / var(--base-width));
}

.footerLogo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.footerLogo svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.footerText {
    display: flex;
    flex-direction: column;
    gap: calc(20 * 100vw / var(--base-width));
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
}

.footerText>*:last-child {
    margin-top: calc(60 * 100vw / var(--base-width));
}

.footerTitle {
    font-size: calc(58 * 100vw / var(--base-width));
    font-weight: 400;
    font-family: var(--font-grotesque);
    /* line-height: 110%; */
    color: #fff;
}

.footerTitle span {
    font-family: var(--font-serif);
    font-size: calc(62 * 100vw / var(--base-width));
    font-weight: 400;
    line-height: 110%;
    color: #fff;
}

.footerDescription {
    font-size: calc(16 * 100vw / var(--base-width));
    line-height: 122%;
    color: rgba(255, 255, 255, 0.5);
}

.footerWrapper {
    border-radius: calc(39 * 100vw / var(--base-width));
    background: #01060008;
    backdrop-filter: blur(calc(40.3 * 100vw / var(--base-width)));
    border: calc(1 * 100vw / var(--base-width)) solid #FFFFFF21;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: end;
    padding: calc(40 * 100vw / var(--base-width));
}

.footerColumns {
    display: flex;
    align-items: stretch;
    gap: calc(100 * 100vw / var(--base-width));
}

.footerColumn {
    display: flex;
    flex-direction: column;
}

.footerColumnTitle {
    font-family: var(--font-serif);
    font-weight: 400;
    font-size: calc(20 * 100vw / var(--base-width));
    line-height: 130%;
    color: rgba(255, 255, 255, 0.4);
    text-transform: capitalize;


}

.footerColumnTitle::first-letter {
    text-transform: uppercase;
}

.footerColumnLinks {
    gap: calc(40 * 100vw / var(--base-width));
}

.footerList {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: calc(25 * 100vw / var(--base-width));
}

.footerListItem {
    color: #fff;
    font-size: calc(17.8 * 100vw / var(--base-width));
    line-height: 120%;
    text-decoration: none;
}

.footerEmailSubscription {
    min-width: calc(326 * 100vw / var(--base-width));
    max-width: calc(326 * 100vw / var(--base-width));
    width: 100%;
}

.footerEmail {
    display: flex;
    flex-direction: column;
    gap: calc(10 * 100vw / var(--base-width));
    align-items: flex-start;
    justify-content: flex-start;
}

.footerEmailSubscription {
    display: flex;
    flex-direction: column;
    gap: calc(10 * 100vw / var(--base-width));
    align-items: flex-start;
    justify-content: flex-start;
}

.footerEmailSubscriptionLabel {
    font-size: calc(16 * 100vw / var(--base-width));
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
}

.footerSocials {
    display: flex;
    flex-direction: column;
    gap: calc(22 * 100vw / var(--base-width));
    align-items: flex-start;
    justify-content: flex-start;
}

.footerSocialsButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(6 * 100vw / var(--base-width));
}

.footerSocialsButton {
    width: calc(41.4 * 100vw / var(--base-width));
    height: calc(41.4 * 100vw / var(--base-width));
    max-width: calc(41.4 * 100vw / var(--base-width));
    min-width: calc(41.4 * 100vw / var(--base-width));
    max-height: calc(41.4 * 100vw / var(--base-width));
    min-height: calc(41.4 * 100vw / var(--base-width));
    background: #FFFFFF29;
    backdrop-filter: blur(calc(30.11 * 100vw / var(--base-width)));
    border-radius: calc(13 * 100vw / var(--base-width));

    display: flex;
    align-items: center;
    justify-content: center;
}

.footerSocialsButton img {
    width: calc(12.8 * 100vw / var(--base-width));
    height: calc(12.8 * 100vw / var(--base-width));
    max-width: calc(12.8 * 100vw / var(--base-width));
    min-width: calc(12.8 * 100vw / var(--base-width));
    max-height: calc(12.8 * 100vw / var(--base-width));
    min-height: calc(12.8 * 100vw / var(--base-width));
    object-fit: contain;
    object-position: center;
}

.contactsColumn {
    justify-content: space-between;
}

@media (max-width: 768px) {
    .footer {
        min-height: 100vh;
        height: auto;
    }

    .container {
        padding: calc(60 * 100vw / var(--base-width-mobile)) calc(18 * 100vw / var(--base-width-mobile));
        align-items: start;
    }

    .footerWrapper {
        flex-direction: column;
        gap: calc(40 * 100vw / var(--base-width-mobile));
        padding: calc(30 * 100vw / var(--base-width-mobile));
        border-radius: calc(39 * 100vw / var(--base-width-mobile));
        backdrop-filter: blur(calc(40.3 * 100vw / var(--base-width-mobile)));
        border: calc(1 * 100vw / var(--base-width-mobile)) solid #FFFFFF21;
    }

    .footerLogo {
        width: calc(57 * 100vw / var(--base-width-mobile));
        height: calc(22.8 * 100vw / var(--base-width-mobile));
        max-width: calc(57 * 100vw / var(--base-width-mobile));
        min-width: calc(57 * 100vw / var(--base-width-mobile));
        max-height: calc(22.8 * 100vw / var(--base-width-mobile));
        min-height: calc(22.8 * 100vw / var(--base-width-mobile));
    }

    .footerText {
        gap: calc(20 * 100vw / var(--base-width-mobile));
        width: 100%;
    }

    .footerText>*:last-child {
        margin-top: calc(40 * 100vw / var(--base-width-mobile));
    }

    .footerTitle {
        font-size: calc(40 * 100vw / var(--base-width-mobile));
    }

    .footerTitle span {
        font-size: calc(42 * 100vw / var(--base-width-mobile));
    }

    .footerDescription {
        font-size: calc(13 * 100vw / var(--base-width-mobile));
        line-height: 150% !important;
    }


    .footerText>*:last-child {
        margin-top: calc(0 * 100vw / var(--base-width-mobile));
    }

    .footerColumns {
        flex-direction: column;
        gap: calc(40 * 100vw / var(--base-width-mobile));
        width: 100%;
    }

    .footerColumn {
        width: 100%;
    }

    .footerColumnTitle {
        font-size: calc(20 * 100vw / var(--base-width-mobile));
    }

    .footerColumnLinks {
        gap: calc(30 * 100vw / var(--base-width-mobile));
    }

    .footerList {
        row-gap: calc(30 * 100vw / var(--base-width-mobile));
        column-gap: calc(0 * 100vw / var(--base-width-mobile));
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footerListItem {
        font-size: calc(17.8 * 100vw / var(--base-width-mobile));
        /* нужно что бы в ряд вмещалось 2 элемента*/
        flex: 0 0 45%;
    }

    .footerEmail {
        gap: calc(16 * 100vw / var(--base-width-mobile));
    }

    .footerEmailSubscription {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        gap: calc(12 * 100vw / var(--base-width-mobile));
    }

    .footerEmailSubscriptionLabel {
        font-size: calc(16 * 100vw / var(--base-width-mobile));
    }

    .footerSocials {
        gap: calc(20 * 100vw / var(--base-width-mobile));
        justify-content: center;
        align-items: center;
    }

    .footerSocialsButtons {
        gap: calc(8 * 100vw / var(--base-width-mobile));
    }

    .footerSocialsButton {
        width: calc(41.4 * 100vw / var(--base-width-mobile));
        height: calc(41.4 * 100vw / var(--base-width-mobile));
        max-width: calc(41.4 * 100vw / var(--base-width-mobile));
        min-width: calc(41.4 * 100vw / var(--base-width-mobile));
        max-height: calc(41.4 * 100vw / var(--base-width-mobile));
        min-height: calc(41.4 * 100vw / var(--base-width-mobile));
        border-radius: calc(13 * 100vw / var(--base-width-mobile));
        backdrop-filter: blur(calc(30.11 * 100vw / var(--base-width-mobile)));
    }

    .footerSocialsButton img {
        width: calc(12.8 * 100vw / var(--base-width-mobile));
        height: calc(12.8 * 100vw / var(--base-width-mobile));
        max-width: calc(12.8 * 100vw / var(--base-width-mobile));
        min-width: calc(12.8 * 100vw / var(--base-width-mobile));
        max-height: calc(12.8 * 100vw / var(--base-width-mobile));
        min-height: calc(12.8 * 100vw / var(--base-width-mobile));
    }

    .contactsColumn {
        gap: calc(40 * 100vw / var(--base-width-mobile));
        justify-content: flex-start;
    }
}