.pykoHoverCardsSwiper {
    width: 100%;
    min-height: calc(382 * 100vw / var(--base-width));
    height: calc(382 * 100vw / var(--base-width));
    max-height: calc(382 * 100vw / var(--base-width));
}

.swiper {
    height: 100%;
    width: 100%;
}

.slide {
    min-width: calc(370 * 100vw / var(--base-width));
    max-width: calc(370 * 100vw / var(--base-width));
    width: calc(370 * 100vw / var(--base-width));
    min-height: calc(245 * 100vw / var(--base-width));
    height: calc(245 * 100vw / var(--base-width));
    max-height: calc(382 * 100vw / var(--base-width));
}