.pykoHoverCard {
    min-width: calc(370 * 100vw / var(--base-width));
    max-width: calc(370 * 100vw / var(--base-width));
    width: calc(370 * 100vw / var(--base-width));
    min-height: calc(245 * 100vw / var(--base-width));
    height: calc(245 * 100vw / var(--base-width));
    max-height: calc(382 * 100vw / var(--base-width));
    position: relative;
    overflow: hidden;
    border-radius: calc(32 * 100vw / var(--base-width));

    transition: height 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;

    padding: calc(12 * 100vw / var(--base-width));

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: calc(12 * 100vw / var(--base-width));

    translate: 0 -75%;
    transition: translate 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.title {
    font-size: calc(28 * 100vw / var(--base-width));
    font-family: var(--font-serif);
    line-height: 1.2;
}

.subtitle {
    font-size: calc(18 * 100vw / var(--base-width));
    font-family: var(--font-sans);
    line-height: 1.2;
    opacity: 0.6;
}


.pykoHoverCard:hover {
    height: calc(382 * 100vw / var(--base-width));
    transition-delay: 0s;
}

.pykoHoverCard:hover .link {
    scale: 1;
    opacity: 1;
    transition-delay: 0.5s;
}

.pykoHoverCard:hover .text {
    translate: 0 -25%;
}

.pykoHoverCard:hover .image {
    opacity: 1;
    height: calc(223 * 100vw / var(--base-width));

}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.image {
    height: 0;
    position: relative;

    border-radius: calc(24 * 100vw / var(--base-width));
    overflow: hidden;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    position: static !important;

}

.link {
    position: absolute;
    top: calc(12 * 100vw / var(--base-width));
    right: calc(12 * 100vw / var(--base-width));
    width: calc(43 * 100vw / var(--base-width));
    height: calc(43 * 100vw / var(--base-width));
    min-width: calc(43 * 100vw / var(--base-width));
    min-height: calc(43 * 100vw / var(--base-width));
    max-width: calc(43 * 100vw / var(--base-width));
    max-height: calc(43 * 100vw / var(--base-width));

    border-radius: calc(12 * 100vw / var(--base-width));
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    scale: 0.7;
    opacity: 0;
    transition-property: scale, opacity;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.link a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link img {
    position: static !important;
    width: calc(12 * 100vw / var(--base-width));
    height: calc(12 * 100vw / var(--base-width));
    min-width: calc(12 * 100vw / var(--base-width));
    min-height: calc(12 * 100vw / var(--base-width));
    max-width: calc(12 * 100vw / var(--base-width));
    max-height: calc(12 * 100vw / var(--base-width));
}