.platform {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    padding-top: calc(150 * 100vw / var(--base-width));
    gap: calc(40 * 100vw / var(--base-width));
}

.text {
    max-width: calc(540 * 100vw / var(--base-width));
    width: 100%;
    height: 100;
    display: flex;
    flex-direction: column;
    gap: calc(20 * 100vw / var(--base-width));
    text-align: left;
}

.text p {
    opacity: 0.5 !important;
}

@media (max-width: 768px) {
    .platform {
        height: 100svh;
        max-height: 100svh;
        min-height: 100svh;
    }

    .text {
        max-width: 100%;
        gap: calc(20 * 100vw / var(--base-width-mobile));
        padding-inline: calc(18 * 100vw / var(--base-width-mobile));
    }

    .container {
        padding-inline: 0;
        padding-top: calc(80 * 100vw / var(--base-width-mobile));
        justify-content: start;
    }

    .bodyText {
        font-size: calc(14 * 100vw / var(--base-width-mobile));
    }
}