.videosOverlay {
    position: fixed;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    cursor: none;
}

.particle {
    position: absolute;
    inset: 0;
    z-index: 11;

    background-image: url('/images/common/backgrounds/particle.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    opacity: 0;
}

.particleVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videosOverlay>video:nth-child(1) {
    z-index: 1;
}

.videosOverlay>video:nth-child(2) {
    z-index: 2;
}

.videosOverlay>video:nth-child(3) {
    z-index: 3;
    width: 125%;
    /* inset: unset; */
    left: 50%;
    /* translate: -50% 0; */
}

.videosOverlay>video:nth-child(4) {
    z-index: 4;
    width: 125%;
    left: 50%;
}

.videosOverlay>video:nth-child(5) {
    z-index: 5;
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0;
    transition: opacity 220ms ease;
    will-change: opacity;
    /* base layer */
    z-index: 0;
}

.videoActive {
    opacity: 1;
    /* ensure active video is above other videos */
    z-index: 1;
}

.overlayToggle {
    position: absolute;
    inset: 0;
    z-index: 10;

    background-color: #000;
    opacity: 0;
    /* transition: opacity 220ms ease; */
    /* will-change: opacity; */
}