.title {
  font-family: var(--font-grotesque);
  font-weight: 400;
  line-height: 100%;
  color: #fff;
  opacity: 0;
}

.title.h1 {
  font-size: calc(52 * 100vw / var(--base-width));
  line-height: 100%;
}

.title.h1 .serif {
  font-family: var(--font-serif);
  font-weight: 400;
  font-style: italic;
  font-size: calc(52 * 100vw / var(--base-width));
  line-height: 100%;
}

.title.h2 {
  font-size: calc(72 * 100vw / var(--base-width));
  line-height: 100%;
}

.title.h2 .serif {
  font-family: var(--font-serif);
  font-weight: 400;
  font-style: italic;
  font-size: calc(72 * 100vw / var(--base-width));
  line-height: 100%;
}

.title.h3 {
  font-size: calc(42 * 100vw / var(--base-width));
  line-height: 100%;

}

.title.h3 .serif {
  font-family: var(--font-serif);
  font-weight: 400;
  font-style: italic;
  font-size: calc(42 * 100vw / var(--base-width));
  line-height: 100%;
}

@media (max-width: 1024px) {
  .title.h1 {
    font-size: calc(82 * 100vw / var(--base-width-tablet));
  }

  .title.h1 .serif {
    font-size: calc(82 * 100vw / var(--base-width-tablet));
  }

  .title.h2 {
    font-size: calc(72 * 100vw / var(--base-width-tablet));
  }

  .title.h2 .serif {
    font-size: calc(72 * 100vw / var(--base-width-tablet));
  }

  .title.h3 {
    font-size: calc(62 * 100vw / var(--base-width-tablet));
  }

  .title.h3 .serif {
    font-size: calc(62 * 100vw / var(--base-width-tablet));
  }
}

@media (max-width: 767px) {
  .title.h1 {
    font-size: calc(30 * 100vw / var(--base-width-mobile));
  }

  .title.h1 .serif {
    font-size: calc(30 * 100vw / var(--base-width-mobile));
  }

  .title.h2 {
    font-size: calc(30 * 100vw / var(--base-width-mobile));
  }

  .title.h2 .serif {
    font-size: calc(30 * 100vw / var(--base-width-mobile));
  }

  .title.h3 {
    font-size: calc(28 * 100vw / var(--base-width-mobile));
  }

  .title.h3 .serif {
    font-size: calc(28 * 100vw / var(--base-width-mobile));
  }
}