.section {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.container {
    padding-top: calc(80 * 100vw / var(--base-width));
    display: flex;
    flex-direction: column;
    gap: calc(40 * 100vw / var(--base-width));
    height: 100%;
    padding-inline: 0 !important;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: calc(20 * 100vw / var(--base-width));
    width: 100%;

    scale: 0.8;
    transform-origin: top center;

    padding-inline: calc(40 * 100vw / var(--base-width))
}

.text p {
    opacity: .6 !important;
}

.content {
    width: 100%;

    flex: 1;

    display: flex;
    align-self: start;
    gap: calc(24 * 100vw / var(--base-width));
    justify-content: center;
}

@media (max-width: 768px) {
    .container {
        padding-top: calc(80 * 100vw / var(--base-width-mobile));
        padding-bottom: calc(80 * 100vw / var(--base-width-mobile));
        gap: calc(30 * 100vw / var(--base-width-mobile));
    }

    .text {
        gap: calc(16 * 100vw / var(--base-width-mobile));
    }
}