.section {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.container {
    padding-top: calc(80 * 100vw / var(--base-width));
    display: flex;
    flex-direction: column;
    gap: calc(40 * 100vw / var(--base-width));
    height: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: calc(20 * 100vw / var(--base-width));
    width: 100%;
}

.text p {
    opacity: .5 !important;
}

.content {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* future module */


/* future module */

@media (max-width: 768px) {
    .container {
        padding-top: calc(80 * 100vw / var(--base-width-mobile));
        padding-bottom: calc(80 * 100vw / var(--base-width-mobile));
        gap: calc(30 * 100vw / var(--base-width-mobile));
    }

    .text {
        gap: calc(16 * 100vw / var(--base-width-mobile));
    }
}