.section {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.container {
    padding-top: calc(80 * 100vw / var(--base-width));
    display: flex;
    flex-direction: column;
    gap: calc(40 * 100vw / var(--base-width));
    height: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: calc(20 * 100vw / var(--base-width));
    width: 100%;
}

.content {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .section {
        height: 100svh;
        min-height: 100svh;
        max-height: 100svh;
    }

    .container {
        padding-top: calc(120 * 100vw / var(--base-width-tablet));
        justify-content: center;
        align-items: center;
    }

    .content {
        flex: unset;
    }

    .content>*>*:nth-child(1) {
        height: calc(340 * 100vw / var(--base-width-tablet)) !important;
        min-height: calc(340 * 100vw / var(--base-width-tablet)) !important;
    }
}

@media (max-width: 767px) {
    .container {
        padding-top: calc(120 * 100vw / var(--base-width-mobile));
        padding-bottom: calc(40 * 100vw / var(--base-width-mobile));
        gap: calc(30 * 100vw / var(--base-width-mobile));
    }

    .text {
        gap: calc(16 * 100vw / var(--base-width-mobile));
    }

    .content>*>*:nth-child(1) {
        height: calc(350 * 100vw / var(--base-width-mobile)) !important;
        min-height: calc(350 * 100vw / var(--base-width-mobile)) !important;
    }
}