.link {
  font-weight: 500;
  font-family: var(--font-sans);
  font-size: calc(20 * 100vw / var(--base-width));
  line-height: 100%;
  letter-spacing: -1%;
  color: #e9e9e9;
  text-decoration: underline;
  transition: opacity 0.2s ease;
}

.link:hover {
  opacity: 0.7;
}

.link.secondary {
  color: #fff;
  text-decoration: none;
  font-size: calc(16 * 100vw / var(--base-width));
}

@media (max-width: 768px) {
  .link {
    font-size: calc(16 * 100vw / var(--base-width-mobile));
  }
}
