.bluredCard {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: calc(21 * 100vw / var(--base-width));
    backdrop-filter: blur(calc(10 * 100vw / var(--base-width)));
}

/* .bluredCard::after {
    content: '';

    position: absolute;
    width: calc(147 * 100vw / var(--base-width));
    height: calc(146 * 100vw / var(--base-width));
    right: calc(-36.5 * 100vw / var(--base-width));
    top: calc(-51 * 100vw / var(--base-width));

    background: radial-gradient(34.95% 31.4% at 50% 50%, #FFB774 0%, #8C7158 100%);
    mix-blend-mode: plus-lighter;
    opacity: 0.6;
    filter: blur(calc(50 * 100vw / var(--base-width)));
} */

.wrapper {
    border-radius: calc(21 * 100vw / var(--base-width));
    background: rgba(0, 0, 0, 0.2);

    width: 100%;
    height: 100%;

    position: relative;
    z-index: 2;
}

.container {
    width: 100%;
    height: 100%;
    padding: calc(24 * 100vw / var(--base-width));

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.icon {
    width: calc(44 * 100vw / var(--base-width));
    height: calc(44 * 100vw / var(--base-width));
    min-width: calc(44 * 100vw / var(--base-width));
    min-height: calc(44 * 100vw / var(--base-width));
    max-width: calc(44 * 100vw / var(--base-width));
    max-height: calc(44 * 100vw / var(--base-width));
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: calc(13 * 100vw / var(--base-width));
}

.text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: calc(13 * 100vw / var(--base-width));
}

.title {
    font-size: calc(34 * 100vw / var(--base-width));
    font-family: var(--font-serif);
    font-style: italic;
    line-height: 120%;
}

.subtitle {
    font-size: calc(12 * 100vw / var(--base-width));
    line-height: 120%;
    opacity: .7;
}


@media (max-width: 1024px) {

    .bluredCard::after {
        width: calc(147 * 100vw / var(--base-width-tablet));
        height: calc(146 * 100vw / var(--base-width-tablet));
        right: calc(-36.5 * 100vw / var(--base-width-tablet));
        top: calc(-51 * 100vw / var(--base-width-tablet));
        filter: blur(calc(114.6 * 100vw / var(--base-width-tablet)));
    }

    .bluredCard {
        border-radius: calc(21 * 100vw / var(--base-width-tablet));
    }

    .wrapper {
        border-radius: calc(21 * 100vw / var(--base-width-tablet));
    }

    .container {
        padding: calc(24 * 100vw / var(--base-width-tablet));
    }

    .icon {
        width: calc(44 * 100vw / var(--base-width-tablet));
        height: calc(44 * 100vw / var(--base-width-tablet));
        min-width: calc(44 * 100vw / var(--base-width-tablet));
        min-height: calc(44 * 100vw / var(--base-width-tablet));
        max-width: calc(44 * 100vw / var(--base-width-tablet));
        max-height: calc(44 * 100vw / var(--base-width-tablet));
    }

    .content {
        gap: calc(13 * 100vw / var(--base-width-tablet));
    }

    .text {
        gap: calc(13 * 100vw / var(--base-width-tablet));
    }

    .title {
        font-size: calc(34 * 100vw / var(--base-width-tablet));
    }

    .subtitle {
        font-size: calc(12 * 100vw / var(--base-width-tablet));
    }
}

@media (max-width: 767px) {

    .bluredCard::after {
        width: calc(147 * 100vw / var(--base-width-mobile));
        height: calc(146 * 100vw / var(--base-width-mobile));
        right: calc(-36.5 * 100vw / var(--base-width-mobile));
        top: calc(-51 * 100vw / var(--base-width-mobile));
        filter: blur(calc(114.6 * 100vw / var(--base-width-mobile)));
    }

    .bluredCard {
        border-radius: calc(21 * 100vw / var(--base-width-mobile));
    }

    .wrapper {
        border-radius: calc(21 * 100vw / var(--base-width-mobile));
    }

    .container {
        padding: calc(15 * 100vw / var(--base-width-mobile));
        gap: calc(15 * 100vw / var(--base-width-mobile));
    }

    .icon {
        width: calc(28 * 100vw / var(--base-width-mobile));
        height: calc(28 * 100vw / var(--base-width-mobile));
        min-width: calc(28 * 100vw / var(--base-width-mobile));
        min-height: calc(28 * 100vw / var(--base-width-mobile));
        max-width: calc(28 * 100vw / var(--base-width-mobile));
        max-height: calc(28 * 100vw / var(--base-width-mobile));
    }

    .content {
        gap: calc(4 * 100vw / var(--base-width-mobile));
    }

    .text {
        gap: calc(4 * 100vw / var(--base-width-mobile));
    }

    .title {
        font-size: calc(18 * 100vw / var(--base-width-mobile));
    }

    .subtitle {
        font-size: calc(14 * 100vw / var(--base-width-mobile));
    }
}