.container {
   height: 100%;
   padding-top: 86px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3.5vh;
   @media (width <= 1200px) and (width > 767px) {
      gap: 4vh;
   }
   @media (max-width: 767px) {
      padding-top: 107px;
   }
   & .textContainer {
      --inline-padding: 20px;
      --inner-width: 639px;
      max-width: calc(var(--inner-width) + var(--inline-padding) * 2);
      padding-top: max(20px, 11vh);
      padding-inline: var(--inline-padding);
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.3vh;

      @media (max-width: 1200px) {
         --inner-width: 606px;

         padding-top: max(20px, 12vh);
         gap: 2vh;
      }

      @media (max-width: 767px) {
         gap: 1vh;
         padding-top: max(20px, 10vh);
      }

      & .label {
         font-size: clamp(0.625rem, 1.6vh, 0.875rem);
         line-height: 1.2;
         letter-spacing: 0.02em;
      }

      & .title {
         text-align: center;
         font-size: clamp(3rem, 8vh, 4.5rem);
         line-height: 1;
         letter-spacing: -0.03em;
         font-weight: 400;
         font-family: var(--font-sans);
         @media (max-width: 1200px) {
            font-size: clamp(3rem, 6.5vh, 3.75rem);
         }

         @media (max-width: 767px) {
            font-size: clamp(2rem, 5vh, 2.875rem);
            letter-spacing: -0.05em;
            text-wrap: balance;
         }

         @media (max-width: 380px) {
            font-size: clamp(1.75rem, 4vh, 2.25rem);
         }

         & .serif {
            font-family: var(--font-serif);
            line-height: 0.9;
            font-size: clamp(3.75rem, 9vh, 5rem);
            letter-spacing: -0.03em;
            font-style: italic;
            @media (max-width: 1200px) {
               font-size: clamp(3rem, 7vh, 4.5rem);
               letter-spacing: -0.05em;
               line-height: 0.95;
            }

            @media (max-width: 767px) {
               font-size: clamp(2.5rem, 6vh, 3.125rem);
               font-style: normal;
            }

            @media (max-width: 380px) {
               font-size: clamp(2rem, 5vh, 2.75rem);
            }
         }
      }

      & .description {
         font-weight: 500;
         font-family: var(--font-sans);
         color: var(--color-text-secondary);
         opacity: 0.5;
         font-size: clamp(1rem, 2.5vh, 1.25rem);
         line-height: 1.2;
         max-width: 100%;
         letter-spacing: -0.01em;
         text-align: center;
         padding-inline: 34px;
         padding-top: 18px;

         @media (max-width: 1200px) {
            font-size: 1rem;
            line-height: 1.3;
            padding-top: 4px;
            padding-inline: 68px;
         }

         @media (max-width: 767px) {
            width: 100%;
            text-wrap: balance;
            margin-top: 7px;
            padding-inline: 0;
         }
      }
   }
   & .contentContainer {
      --inline-padding: 20px;
      --inner-width: 641px;
      max-width: calc(var(--inner-width) + var(--inline-padding) * 2);
      padding-inline: var(--inline-padding);
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 60px;
      @media (width <=680px) {
         flex-direction: column;
         align-items: center;
         gap: 4.5vh;
      }
      & .contentItem {
         display: flex;
         max-width: 151px;
         flex-direction: column;
         gap: 1vh;
         & .contentTitle {
            font-family: var(--font-serif);
            font-style: italic;
            font-size: clamp(1.25rem, 3.5vh, 2rem);
            line-height: 1.2;
            letter-spacing: -0.02em;
         }
         & .contentText {
            font-family: var(--font-sans);
            font-weight: 500;
            font-size: clamp(0.875rem, 1.8vh, 1rem);
            line-height: 1.2;
            letter-spacing: -0.01em;
            text-wrap: nowrap;
         }
      }
   }
}
