.hero {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   width: 100%;
   height: 100vh;
   min-height: 100vh;
   max-height: 100vh;
   overflow: hidden;
   cursor: default;
   display: flex;

   & .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 16px;

      & .content {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 1rem;
         padding-top: 17vh;
         text-align: center;

         & .label {
            line-height: 1.2;
            font-size: 0.875rem;
            letter-spacing: 0.02em;
         }

         & .title {
            font-size: 5rem;
            line-height: 0.98;
            letter-spacing: -0.05em;

            @media (max-width: 767px) {
               font-size: 3.875rem;
            }

            @media (max-width: 480px) {
               font-size: 2.875rem;
               line-height: 1.1;
            }

            & .serif {
               font-size: 6.375rem;
               line-height: 0.95;
               letter-spacing: -0.04em;

               @media (max-width: 767px) {
                  font-size: 4.375rem;
               }

               @media (max-width: 480px) {
                  font-size: 3.375rem;
                  line-height: 0.925;
                  letter-spacing: -0.05em;
               }
            }
         }

         & .description {
            font-weight: 500;
            font-family: var(--font-sans);
            color: var(--color-text-grey-67);
            font-size: 1.125rem;
            line-height: 1.2;
            max-width: 430px;
            letter-spacing: -0.01em;

            @media (max-width: 767px) {
               font-size: 1rem;
               max-width: 385px;
               line-height: 1.3;
            }

            @media (max-width: 480px) {
               max-width: 318px;
               color: var(--color-text-grey);
               text-wrap: pretty;
            }
         }

         & .buttonsWrapper {
            display: flex;
            padding-top: 14px;
            gap: 30px;

            @media (max-width: 480px) {
               gap: 8px;
            }

            & .button {
               height: 44px;
               max-height: 44px;
               min-height: 44px;
               font-size: 1rem;
               padding-left: 16px;
               padding-right: 9px;
               gap: 8px;
               border-radius: 14px;
               line-height: 1.2;

               & div {
                  width: 21px;
                  height: 21px;
                  max-width: 21px;
                  max-height: 21px;
                  min-width: 21px;
                  min-height: 21px;
                  border-radius: 6px;

                  & img {
                     width: 10px;
                     height: 10px;
                     max-width: 10px;
                     max-height: 10px;
                     min-width: 10px;
                     min-height: 10px;
                  }
               }
            }
         }
      }

      & .footer {
         display: flex;
         flex-direction: column;
         align-items: center;
         max-width: 100%;
         gap: 24px;

         & .footerTitle {
            color: rgba(255, 255, 255, 0.6);
            text-transform: uppercase;
            font-family: var(--font-sans);
            font-size: 0.75rem;
            font-weight: 500;
            line-height: 1.15;
            letter-spacing: -0.01;
            text-align: center;
         }

         & .logosMask {
            max-width: 100%;
            mask-image: linear-gradient(to right,
                  rgba(0, 0, 0, 0.25) 0%,
                  black 40%,
                  black 60%,
                  rgba(0, 0, 0, 0.25) 100%);

            @media (max-width: 767px) {
               mask-image: linear-gradient(to right,
                     rgba(0, 0, 0, 0) 5%,
                     rgba(0, 0, 0, 0.6) 10%,
                     black 20%,
                     black 80%,
                     rgba(0, 0, 0, 0.6) 90%,
                     rgba(0, 0, 0, 0) 95%);
            }
         }

         & .universityLogos {
            display: flex;
            gap: 25px;
            align-items: center;
            justify-content: center;

            p {
               color: white;
               font-size: 19px;
               font-weight: 400;
               display: flex;
               flex-direction: column;
               text-align: center;
               line-height: 1;

               &:has(span) {
                  text-transform: uppercase;
               }

               span:first-child {
                  font-size: 8px;
                  letter-spacing: 0.15em;
               }

               span:last-child {
                  font-size: 18px;
                  letter-spacing: -0.04em;
               }
            }
         }
      }
   }
}