.trackCard {
  width: calc(257 * 100vw / var(--base-width));
  height: calc(261 * 100vw / var(--base-width));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  max-width: calc(257 * 100vw / var(--base-width));
  min-width: calc(257 * 100vw / var(--base-width));
  max-height: calc(261 * 100vw / var(--base-width));
  min-height: calc(261 * 100vw / var(--base-width));
  border-radius: calc(20 * 100vw / var(--base-width));
  overflow: hidden;
  position: relative;
}


.glow {
  position: absolute;
  width: calc(300 * 100vw / var(--base-width));
  height: calc(300 * 100vw / var(--base-width));
  border-radius: 100%;
  background: radial-gradient(circle,
      rgba(168, 224, 99, 0.4) 0%,
      rgba(168, 224, 99, 0.2) 0%,
      transparent 70%);
  filter: blur(calc(20 * 100vw / var(--base-width)));
  /* pointer-events: none; */
  z-index: 1;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity var(--transition-base);
}

.blured {
  backdrop-filter: blur(calc(3.75 * 100vw / var(--base-width)));
}



.withBackground .trackCardContainer {
  background-color: var(--color-bg-overlay-dark);
}

.trackCardContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: calc(20 * 100vw / var(--base-width));
  padding: calc(20 * 100vw / var(--base-width));
  position: relative;
  z-index: 2;

  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: calc(20 * 100vw / var(--base-width));
  overflow: hidden;

  transition-duration: 0.4s;
  transition-property: scale, background-image;
  transition-timing-function: ease-out;

}

.trackCardContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/sections/track/card-01.png");
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: calc(20 * 100vw / var(--base-width));
  overflow: hidden;
  z-index: 0;

  transition: opacity var(--transition-base), scale 0.4s ease-out;

  opacity: 0;
  scale: 1;
}



.trackCard:hover .trackCardContainer::before {
  opacity: 1;
  scale: 0.98;
}

.trackCardIcon {
  width: calc(44 * 100vw / var(--base-width));
  height: calc(44 * 100vw / var(--base-width));
  max-width: calc(44 * 100vw / var(--base-width));
  min-width: calc(44 * 100vw / var(--base-width));
  max-height: calc(44 * 100vw / var(--base-width));
  min-height: calc(44 * 100vw / var(--base-width));
  object-fit: contain;
  object-position: center;
  opacity: 0;
}

.trackCardText {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: calc(8 * 100vw / var(--base-width));
}

.trackCardTitle {
  font-weight: 400;
  font-family: var(--font-serif);
  font-style: italic;
  font-size: calc(20 * 100vw / var(--base-width));
  line-height: 100%;
  letter-spacing: -2%;
  color: #fff;
  opacity: 0;
}

.trackCardSubtitle {
  font-size: calc(14 * 100vw / var(--base-width));
  line-height: calc(19 * 100vw / var(--base-width));
  letter-spacing: -1%;
  color: var(--color-text-ghost);
  opacity: 0;
}

@media (max-width: 1024px) {
  .trackCard {
    pointer-events: none !important;
    user-select: none !important;


    max-width: calc(257 * 100vw / var(--base-width-tablet));
    max-height: calc(262 * 100vw / var(--base-width-tablet));
    min-width: calc(257 * 100vw / var(--base-width-tablet));
    min-height: calc(262 * 100vw / var(--base-width-tablet));

    border-radius: calc(20 * 100vw / var(--base-width-tablet));

    backdrop-filter: blur(calc(3.75 * 100vw / var(--base-width-tablet)));
    cursor: none;
    background-color: var(--color-bg-overlay-dark);
  }

  .trackCardIcon {
    width: calc(44 * 100vw / var(--base-width-tablet));
    height: calc(44 * 100vw / var(--base-width-tablet));
    max-width: calc(44 * 100vw / var(--base-width-tablet));
    min-width: calc(44 * 100vw / var(--base-width-tablet));
    max-height: calc(44 * 100vw / var(--base-width-tablet));
    min-height: calc(44 * 100vw / var(--base-width-tablet));
  }

  .trackCardContainer {
    gap: calc(16 * 100vw / var(--base-width-tablet));
    padding: calc(16 * 100vw / var(--base-width-tablet));
  }

  .trackCardText {
    gap: calc(6 * 100vw / var(--base-width-tablet));
  }

  .trackCardTitle {
    font-size: calc(20 * 100vw / var(--base-width-tablet)) !important;
  }

  .trackCardSubtitle {
    font-size: calc(14 * 100vw / var(--base-width-tablet)) !important;
    line-height: calc(19 * 100vw / var(--base-width-tablet)) !important;
  }

  .glow {
    display: none;
  }

}


@media (max-width: 767px) {
  .trackCard {
    left: unset;
    right: unset;
    bottom: 0;
    top: unset;
    translate: unset;
    transform: unset;

    max-width: calc(257 * 100vw / var(--base-width-mobile));
    max-height: calc(262 * 100vw / var(--base-width-mobile));
    min-width: calc(257 * 100vw / var(--base-width-mobile));
    min-height: calc(262 * 100vw / var(--base-width-mobile));

    border-radius: calc(20 * 100vw / var(--base-width-mobile));

    backdrop-filter: blur(calc(3.75 * 100vw / var(--base-width-mobile)));
  }

  .trackCardContainer::before {
    opacity: 1;
    scale: 0.98;
  }

  .trackCardIcon {
    width: calc(44 * 100vw / var(--base-width-mobile));
    height: calc(44 * 100vw / var(--base-width-mobile));
    max-width: calc(44 * 100vw / var(--base-width-mobile));
    min-width: calc(44 * 100vw / var(--base-width-mobile));
    max-height: calc(44 * 100vw / var(--base-width-mobile));
    min-height: calc(44 * 100vw / var(--base-width-mobile));
  }

  .trackCardContainer {
    gap: calc(16 * 100vw / var(--base-width-mobile));
    padding: calc(16 * 100vw / var(--base-width-mobile));
  }

  .trackCardText {
    gap: calc(6 * 100vw / var(--base-width-mobile));
  }

  .trackCardTitle {
    font-size: calc(20 * 100vw / var(--base-width-mobile)) !important;
  }

  .trackCardSubtitle {
    font-size: calc(14 * 100vw / var(--base-width-mobile)) !important;
    line-height: calc(19 * 100vw / var(--base-width-mobile)) !important;
  }

  .blured {
    background-color: transparent !important;
  }
}