.track {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.bodyText {
  color: var(--color-text-secondary);
  opacity: 0.5;
}

.text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(20 * 100vw / var(--base-width));
  align-items: center;
  justify-content: start;
  margin-top: calc(45 * 100vw / var(--base-width));
  text-align: center;

  height: 100%;

  z-index: 2;
}



.trackCardWrapper {
  position: absolute;
  transition: transform 1s ease-out;
  will-change: transform;
  z-index: 1112;

}

.trackCardWrapper1 {
  top: 15%;
  left: 5%;

}

.trackCardWrapper2 {
  bottom: 15%;
  right: 5%;
}

.swiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1111;
  pointer-events: auto;
}

.swiperDisabled {
  pointer-events: none;
}

.swiperSlide {
  width: 100%;
  height: 100%;
  /* pointer-events: none; */
}

@media (max-width: 1024px) {
  .track {
    height: 100svh;
    min-height: 100svh;
    max-height: 100svh;
  }

  .container {
    padding-top: calc(120 * 100vw / var(--base-width-tablet));
    pointer-events: none !important;
    user-select: none !important;
  }

  .trackCardWrapper1 {
    top: 45%;
    left: 5%;

  }

  .trackCardWrapper2 {
    bottom: 10%;
    right: 5%;
  }
}

@media (max-width: 767px) {
  .container {
    padding-block: calc(80 * 100vw / var(--base-width-mobile)) calc(60 * 100vw / var(--base-width-mobile));
    gap: calc(35 * 100vw / var(--base-width-mobile));
    justify-content: start;
  }

  .swiper {
    touch-action: pan-y !important;
  }

  .text {
    gap: calc(14 * 100vw / var(--base-width-mobile));
    height: fit-content;
  }


  .trackCardWrapper {
    left: unset !important;
    right: unset !important;
    bottom: 10% !important;
    top: unset !important;
    translate: unset !important;
  }
}