.pykoList {
    list-style: none;
    display: flex;
    gap: calc(20 * 100vw / var(--base-width));
    align-items: start;
    text-align: left;
    margin-top: calc(20 * 100vw / var(--base-width));
}

.pykoList.row {
    flex-direction: row;
}

.pykoList.column {
    flex-direction: column;
}

.pykoList.row .item {
    align-items: start;
}

.pykoList.row .circle {
    translate: 0 30% !important;
}

.pykoList.withDesc .item {
    align-items: start;
}

.pykoList.withDesc .circle {
    translate: 0 30% !important;
}

.item {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: calc(7 * 100vw / var(--base-width));
    font-size: calc(16 * 100vw / var(--base-width));
    line-height: calc(19 * 100vw / var(--base-width));
    letter-spacing: -1%;
}

.item span:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: calc(4 * 100vw / var(--base-width));
    color: rgba(255, 255, 255, 0.7);
}

.item small {
    font-size: calc(14 * 100vw / var(--base-width));
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.3) !important;
}

.circle {
    display: block;
    width: calc(10 * 100vw / var(--base-width));
    height: calc(10 * 100vw / var(--base-width));
    min-width: calc(10 * 100vw / var(--base-width));
    min-height: calc(10 * 100vw / var(--base-width));
    border-radius: 50%;
    flex-shrink: 0;
}

@media (max-width: 1024px) {
    .pykoList {
        gap: calc(20 * 100vw / var(--base-width-tablet));
    }

    .item {
        font-size: calc(20 * 100vw / var(--base-width-tablet));
        line-height: 120%;
        gap: calc(12 * 100vw / var(--base-width-tablet));
    }

    .item small {
        font-size: calc(16 * 100vw / var(--base-width-tablet));

    }

    .circle {
        width: calc(10 * 100vw / var(--base-width-tablet));
        height: calc(10 * 100vw / var(--base-width-tablet));
        min-width: calc(10 * 100vw / var(--base-width-tablet));
        min-height: calc(10 * 100vw / var(--base-width-tablet));
    }
}

@media (max-width: 767px) {
    .pykoList {
        gap: calc(20 * 100vw / var(--base-width-mobile));
    }

    .pykoList.row {
        flex-direction: column;
    }

    .item {
        font-size: calc(14 * 100vw / var(--base-width-mobile));
        gap: calc(8 * 100vw / var(--base-width-mobile));
    }

    .item small {
        font-size: calc(11 * 100vw / var(--base-width-mobile));

    }

    .circle {
        width: calc(10 * 100vw / var(--base-width-mobile));
        height: calc(10 * 100vw / var(--base-width-mobile));
        min-width: calc(10 * 100vw / var(--base-width-mobile));
        min-height: calc(10 * 100vw / var(--base-width-mobile));
    }
}