.studentsLogos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(25 * 100vw / var(--base-width));
}


.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: calc(25 * 100vw / var(--base-width));
}

.logo {
    width: calc(100 * 100vw / var(--base-width));
    height: calc(30 * 100vw / var(--base-width));
}

.logo.middle {
    width: calc(120 * 100vw / var(--base-width));
    height: calc(36 * 100vw / var(--base-width));
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.logo:nth-child(1) img {
    opacity: .4;
}

.logo:last-child img {
    opacity: .4;
}

@media (max-width: 1024px) {
    .studentsLogos {
        gap: calc(25 * 100vw / var(--base-width-tablet));
    }

    .logos {
        gap: calc(25 * 100vw / var(--base-width-tablet));
    }

    .logo {
        width: calc(100 * 100vw / var(--base-width-tablet));
        height: calc(30 * 100vw / var(--base-width-tablet));
    }

    .logo.middle {
        width: calc(120 * 100vw / var(--base-width-tablet));
        height: calc(36 * 100vw / var(--base-width-tablet));
    }
}

@media (max-width: 767px) {
    .studentsLogos {
        gap: calc(25 * 100vw / var(--base-width-mobile));
    }

    .logos {
        gap: calc(33 * 100vw / var(--base-width-mobile));
    }

    .logo {
        width: calc(100 * 100vw / var(--base-width-mobile));
        height: calc(30 * 100vw / var(--base-width-mobile));
    }

    .logo.middle {
        width: calc(120 * 100vw / var(--base-width-mobile));
        height: calc(36 * 100vw / var(--base-width-mobile));
    }

    .marquee {
        width: 100%;
    }
}