.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(15 * 100vw / var(--base-width)) calc(15 * 100vw / var(--base-width));
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(32 * 100vw / var(--base-width));
}

.buttons_item {
  opacity: 0;
}

.logo {
  width: calc(87 * 100vw / var(--base-width));
  height: calc(35 * 100vw / var(--base-width));
  max-width: calc(87 * 100vw / var(--base-width));
  min-width: calc(87 * 100vw / var(--base-width));
  max-height: calc(35 * 100vw / var(--base-width));
  min-height: calc(35 * 100vw / var(--base-width));
  opacity: 0;
}

.logo svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: calc(56 * 100vw / var(--base-width));
  width: calc(364 * 100vw / var(--base-width));

  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(24 * 100vw / var(--base-width));

  background: transparent;
  z-index: 1;
}

.menuBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  backdrop-filter: blur(calc(18 * 100vw / var(--base-width)));
  -webkit-backdrop-filter: blur(calc(18 * 100vw / var(--base-width)));
  background-color: var(--color-bg-glass);
  z-index: -1;
  opacity: 0;
}

.menu>a {
  position: relative;
  z-index: 1;
}

.menuLink {
  opacity: 0;
}

.burger {
  display: none;
  height: calc(40 * 100vw / var(--base-width-mobile));
  max-height: calc(40 * 100vw / var(--base-width-mobile));
  min-height: calc(40 * 100vw / var(--base-width-mobile));
  width: calc(40 * 100vw / var(--base-width-mobile));
  max-width: calc(40 * 100vw / var(--base-width-mobile));
  min-width: calc(40 * 100vw / var(--base-width-mobile));
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: calc(10 * 100vw / var(--base-width-mobile));
  gap: calc(4 * 100vw / var(--base-width-mobile));
  background-color: var(--color-bg-glass-light);
  border-radius: calc(14 * 100vw / var(--base-width-mobile));
  position: relative;
  opacity: 0;
}

.burgerLine {
  height: calc(2 * 100vw / var(--base-width-mobile));
  background-color: #fff;
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.burgerLine:nth-child(1) {
  width: calc(16 * 100vw / var(--base-width-mobile));
  transform-origin: right;
}

.burgerLine:nth-child(2) {
  width: calc(12 * 100vw / var(--base-width-mobile));
  transform-origin: left;
  transition-delay: 0.3s;
}

.burgerLineX {
  width: calc(12 * 100vw / var(--base-width-mobile));
  height: calc(1.5 * 100vw / var(--base-width-mobile));
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burgerLineX:nth-child(3) {
  transform-origin: right;
  transform: translate(-60%, 300%) rotate(45deg);
}

.burgerLineX:nth-child(4) {
  transform-origin: left;
  transform: translate(-30%, 300%) rotate(-45deg);
}

.burger.active .burgerLine:nth-child(1) {
  width: 0;
}

.burger.active .burgerLine:nth-child(2) {
  width: 0;
}

.burger.active .burgerLineX:nth-child(3) {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.3s;
}

.burger.active .burgerLineX:nth-child(4) {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.4s;
}

@media (max-width: 1024px) {
  .container {
    padding-top: calc(20 * 100vw / var(--base-width-tablet));
    padding-bottom: calc(20 * 100vw / var(--base-width-tablet));
    padding-left: calc(25 * 100vw / var(--base-width-tablet));
    padding-right: calc(25 * 100vw / var(--base-width-tablet));
  }


  .logo {
    width: calc(87 * 100vw / var(--base-width-tablet));
    height: calc(35 * 100vw / var(--base-width-tablet));
    max-width: calc(87 * 100vw / var(--base-width-tablet));
    min-width: calc(87 * 100vw / var(--base-width-tablet));
    max-height: calc(35 * 100vw / var(--base-width-tablet));
    min-height: calc(35 * 100vw / var(--base-width-tablet));
  }

  .menu {
    gap: calc(24 * 100vw / var(--base-width-tablet));
    width: fit-content;
    max-width: fit-content;
    min-width: fit-content;
    min-height: calc(56 * 100vw / var(--base-width-tablet));
    max-height: calc(56 * 100vw / var(--base-width-tablet));
    padding: calc(24 * 100vw / var(--base-width-tablet));
  }

  .menuLink {
    font-size: calc(16 * 100vw / var(--base-width-tablet));
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: calc(20 * 100vw / var(--base-width-mobile));
    padding-bottom: calc(20 * 100vw / var(--base-width-mobile));
    padding-left: calc(18 * 100vw / var(--base-width-mobile));
    padding-right: calc(18 * 100vw / var(--base-width-mobile));
  }

  .container {
    padding: 0;
  }

  .logo {
    width: calc(83 * 100vw / var(--base-width-mobile));
    height: calc(32 * 100vw / var(--base-width-mobile));
    max-width: calc(83 * 100vw / var(--base-width-mobile));
    min-width: calc(83 * 100vw / var(--base-width-mobile));
    max-height: calc(32 * 100vw / var(--base-width-mobile));
    min-height: calc(32 * 100vw / var(--base-width-mobile));
  }

  .menu {
    display: none;
  }

  .burger {
    display: flex;
  }

  .buttons>*:first-child {
    display: none;
  }
}