.container {
   height: 100%;
   padding-top: 86px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 4vh;
   @media (width <= 1200px) and (width > 767px) {
      gap: 5.5vh;
   }
   @media (max-width: 767px) {
      padding-top: 107px;
   }
   & .textContainer {
      --inline-padding: 20px;
      --inner-width: 754px;
      padding-top: max(20px, 9vh);
      padding-inline: var(--inline-padding);
      width: 100%;
      max-width: calc(var(--inner-width) + var(--inline-padding) * 2);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.5vh;

      @media (max-width: 1200px) {
         padding-top: max(20px, 6vh);
         gap: 2vh;
      }

      @media (max-width: 767px) {
         gap: 1vh;
         text-wrap: pretty;
      }

      & .label {
         font-size: clamp(0.625rem, 1.6vh, 0.875rem);
         line-height: 1.2;
         letter-spacing: 0.02em;
      }

      & .title {
         text-align: center;
         font-size: clamp(3rem, 8vh, 4.5rem);
         line-height: 1;
         letter-spacing: -0.03em;
         font-weight: 400;
         font-family: var(--font-sans);
         @media (max-width: 1200px) {
            font-size: clamp(3rem, 6.5vh, 3.75rem);
         }

         @media (max-width: 767px) {
            font-size: clamp(2rem, 5vh, 2.875rem);
            letter-spacing: -0.05em;
            text-wrap: balance;
         }

         @media (max-width: 380px) {
            font-size: clamp(1.75rem, 4vh, 2.25rem);
         }

         & .serif {
            font-family: var(--font-serif);
            line-height: 1;
            font-size: clamp(3.75rem, 9vh, 5rem);
            letter-spacing: -0.03em;
            font-style: italic;
            @media (max-width: 1200px) {
               font-size: clamp(3rem, 7vh, 4.5rem);
               letter-spacing: -0.05em;
            }

            @media (max-width: 767px) {
               font-size: clamp(2.5rem, 6vh, 3.125rem);

               font-style: normal;
            }

            @media (max-width: 380px) {
               font-size: clamp(2rem, 5vh, 2.75rem);
            }
         }
      }

      & .description {
         font-weight: 500;
         font-family: var(--font-sans);
         color: var(--color-text-secondary);
         opacity: 0.5;
         font-size: clamp(1rem, 2.5vh, 1.25rem);
         line-height: 1.2;
         max-width: 100%;
         letter-spacing: -0.01em;
         text-align: center;
         padding-inline: 35px;

         @media (max-width: 1200px) {
            font-size: 1rem;
            line-height: 1.3;
            padding-top: 4px;
         }

         @media (max-width: 767px) {
            text-wrap: pretty;
            margin-top: 7px;
            opacity: 1;
            padding-inline: 0;
         }
      }
   }
   & .slider {
      width: 100%;
      max-width: 100%;
      & .slide {
         min-height: 301px;
         max-width: calc(100vw - 32px);
         &.slide1 {
            width: 476px;
         }
         &.slide2 {
            width: 380px;
         }
         & .slideContainer {
            height: 100%;
            padding: 16px;
            border-radius: 26px;
            border: 1px solid var(--color-border-medium);
            backdrop-filter: blur(10px);
            background-color: rgba(1, 6, 0, 0.1);
            display: flex;
            flex-direction: column;
            gap: 12px;
            @media (width <= 480px) {
               gap: 16px;
            }
            & .slideHeader {
               display: flex;
               gap: 10px;
               align-items: center;
               padding-inline: 18px;
               @media (width <= 480px) {
                  padding-inline: 14px;
               }
               & .slideHeaderTitle {
                  font-family: var(--font-serif);
                  font-style: italic;
                  font-size: 1.5rem;
                  line-height: 1.2;
                  letter-spacing: -0.02em;
               }
            }
            & .bodyContainer {
               padding: 20px;
               flex: 1;
               border-radius: 23px 23px 26px 26px;
               backdrop-filter: blur(10px);
               background: rgba(245, 245, 245, 0.11);
               display: flex;
               flex-direction: column;
               gap: 8px;
               @media (width <= 480px) {
                  padding: 14px;
                  gap: 14px;
               }
               & .bodyItem {
                  display: flex;
                  flex-direction: column;
                  gap: 7px;
                  & .bodyItemTitle {
                     font-family: var(--font-serif);
                     font-style: italic;
                     font-size: 1.125rem;
                     line-height: 1.2;
                     letter-spacing: -0.02em;
                     padding-left: 20px;
                     position: relative;
                     &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: rgba(143, 123, 255, 1);
                     }
                  }
                  & .bodyItemText {
                     font-family: var(--font-sans);
                     font-size: 0.75rem;
                     line-height: 1.6;
                     letter-spacing: -0.01em;
                     font-weight: 500;
                     color: var(--color-text-primary);
                     opacity: 0.5;
                     @media (width <= 480px) {
                        line-height: 1.3;
                     }
                  }
               }
            }
         }
      }
   }
}
