.hero {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   width: 100%;
   height: 100vh;
   min-height: 100vh;
   max-height: 100vh;
   overflow: hidden;
   cursor: default;
   display: flex;
   & .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      & .content {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 16px;
         padding-top: 16vh;
         text-align: center;
         @media (width <= 480px) {
            gap: 8px;
         }
         & .label {
            line-height: 1.2;
            font-size: 0.875rem;
            letter-spacing: 0.02em;
         }
         & .title {
            font-size: 5rem;
            line-height: 0.98;
            letter-spacing: -0.05em;
            padding-top: 8px;
            @media (max-width: 768px) {
               font-size: 3.875rem;
               padding-top: 0;
            }
            @media (max-width: 480px) {
               font-size: 2.875rem;
               line-height: 1.1;
            }
            & .serif {
               font-size: 6.375rem;
               line-height: 0.95;
               letter-spacing: -0.04em;
               @media (max-width: 768px) {
                  font-size: 4.375rem;
               }
               @media (max-width: 480px) {
                  font-size: 3.375rem;
                  line-height: 0.925;
                  letter-spacing: -0.05em;
               }
            }
         }
         & .description {
            font-weight: 500;
            font-family: var(--font-sans);
            color: var(--color-text-grey-67);
            font-size: 1.125rem;
            line-height: 1.2;
            max-width: 633px;
            letter-spacing: -0.01em;
            padding-top: 8px;
            @media (max-width: 768px) {
               font-size: 1rem;
               max-width: 576px;
               line-height: 1.3;
               padding-inline: 18px;
               padding-top: 0;
            }
            @media (max-width: 480px) {
               width: 100%;
               max-width: 100%;
               color: var(--color-text-grey);
               padding-top: 7px;
            }
         }
         & .buttonsWrapper {
            display: flex;
            padding-top: 8px;
            gap: 24px;
            @media (max-width: 768px) {
               padding-top: 14px;
            }
            @media (max-width: 480px) {
               padding-top: 7px;
               gap: 8px;
            }
            & .button {
               height: 44px;
               max-height: 44px;
               min-height: 44px;
               font-size: 1rem;
               padding-left: 16px;
               padding-right: 9px;
               gap: 8px;
               border-radius: 14px;
               line-height: 1.2;
               & div {
                  width: 21px;
                  height: 21px;
                  max-width: 21px;
                  max-height: 21px;
                  min-width: 21px;
                  min-height: 21px;
                  border-radius: 6px;
                  & img {
                     width: 10px;
                     height: 10px;
                     max-width: 10px;
                     max-height: 10px;
                     min-width: 10px;
                     min-height: 10px;
                  }
               }
            }
         }
      }
   }
}
