.section {
   display: flex;
   justify-content: center;
   & .container {
      max-width: 752px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-inline: 16px;
      & .content {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: 520px;
         & .label {
            display: block;
            margin-bottom: 24px;
            font-size: clamp(0.625rem, 1.6vh, 0.875rem);
            line-height: 1.2;
            letter-spacing: 0.02em;
            @media (max-width: 1200px) {
               margin-bottom: 2.5vh;
            }
            @media (max-width: 768px) {
               margin-bottom: 8px;
               font-size: 0.875rem;
            }
            @media (max-width: 380px) {
               font-size: 0.75rem;
            }
         }
         & .title {
            font-size: 4.5rem;
            line-height: 1;
            letter-spacing: -0.03em;
            margin-bottom: 24px;
            @media (max-width: 1200px) {
               margin-bottom: 20px;
               font-size: 3.75rem;
            }
            @media (max-width: 768px) {
               font-size: 2.75rem;
               letter-spacing: -0.05em;
               margin-bottom: 24px;
            }
            @media (max-width: 380px) {
               font-size: 2.25rem;
            }
         }
         & .description {
            font-weight: 500;
            font-family: var(--font-sans);
            color: var(--color-text-secondary);
            opacity: 0.8;
            font-size: 1.25rem;
            line-height: 1.2;
            max-width: 508px;
            letter-spacing: -0.01em;
            text-align: center;
            margin-bottom: 48px;
            @media (max-width: 1200px) {
               margin-bottom: 44px;
            }
            @media (max-width: 768px) {
               margin-bottom: 24px;
               font-size: 1rem;
               line-height: 1.3;
               opacity: 0.6;
            }
            @media (max-width: 380px) {
               font-size: 0.875rem;
            }
         }
      }
   }
}
