@import "tailwindcss";

@theme {
  --font-family-uxum: var(--font-uxum), sans-serif;
  --font-family-instrument-serif: var(--font-instrument-serif), serif;
  --font-family-inter-display: var(--font-inter-display), sans-serif;
}

body {
  @apply bg-[#040504] m-0 p-0;
  font-family: var(--font-inter-display), sans-serif;
  overflow: hidden;
}

html {
  @apply bg-[#040504];
  overflow: hidden;
  height: 100%;
}

.gradient-border-mask::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid transparent !important;
  border-radius: inherit;
  background: repeating-conic-gradient(
    from var(--angle),
    #ffffff 37.5%,
    #ffffff 43.75%,
    #000000 46.25% 78.75%,
    #ffffff 81.25%,
    #ffffff 87.5%
  ) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  animation: rotate-border 8s linear infinite;
}
@keyframes rotate-border {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
