.section {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.container {
    padding-top: calc(140 * 100vw / var(--base-width));
    display: flex;
    flex-direction: column;
    gap: calc(40 * 100vw / var(--base-width));
    height: 100%;

    align-items: center;
    justify-content: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: calc(20 * 100vw / var(--base-width));
    width: 100%;

    scale: 0.8;
    transform-origin: top center;
}

.text p {
    opacity: .6 !important;
}

.content {
    width: 100%;
    display: flex;
    align-self: center;
    gap: calc(24 * 100vw / var(--base-width));
    align-items: stretch;
    translate: 0 calc(-60 * 100vw / var(--base-width));
}

.content>* {
    min-height: calc(390 * 100vw / var(--base-width));
    min-width: calc(322 * 100vw / var(--base-width));
    width: calc(322 * 100vw / var(--base-width));
    height: calc(390 * 100vw / var(--base-width));
}

@media (max-width: 1024px) {
    .container {
        align-items: center;
        justify-content: center;
        padding-top: calc(120 * 100vw / var(--base-width-tablet));
        padding-bottom: calc(120 * 100vw / var(--base-width-tablet));
    }

    .text {
        scale: 1;
    }

    .content {
        translate: 0;
        flex: unset;
    }

    .content>* {
        width: unset;
        min-width: unset;
        min-height: calc(350 * 100vw / var(--base-width-tablet));
        height: unset;
    }
}

@media (max-width: 768px) {
    .container {
        padding-top: calc(80 * 100vw / var(--base-width-mobile));
        padding-bottom: calc(80 * 100vw / var(--base-width-mobile));
        gap: calc(30 * 100vw / var(--base-width-mobile));
    }

    .text {
        gap: calc(16 * 100vw / var(--base-width-mobile));
    }
}