.section {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.container {
    padding-top: calc(140 * 100vw / var(--base-width));
    display: flex;
    flex-direction: column;
    gap: calc(40 * 100vw / var(--base-width));
    height: 100%;

    align-items: center;
    justify-content: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: calc(20 * 100vw / var(--base-width));
    width: 100%;

    scale: 0.8;
    transform-origin: top center;
}

.text p {
    opacity: .6 !important;
}

.content {
    width: 100%;
    display: flex;
    align-self: center;
    gap: calc(24 * 100vw / var(--base-width));
    align-items: stretch;
    translate: 0 calc(-60 * 100vw / var(--base-width));
}

.content>* {
    min-height: calc(390 * 100vw / var(--base-width));
    min-width: calc(322 * 100vw / var(--base-width));
    width: calc(322 * 100vw / var(--base-width));
    height: calc(390 * 100vw / var(--base-width));
}

@media (max-width: 1024px) {
    .section {
        height: 100svh;
        min-height: 100svh;
        max-height: 100svh;
    }

    .container {
        align-items: center;
        justify-content: center;
        padding-top: calc(120 * 100vw / var(--base-width-tablet));
        padding-bottom: calc(30 * 100vw / var(--base-width-tablet));
        gap: calc(20 * 100vw / var(--base-width-tablet));
    }

    .text {
        scale: 1;
    }

    .content {
        translate: 0;
        max-height: calc(390 * 100vw / var(--base-width-tablet)) !important;
        height: calc(390 * 100vw / var(--base-width-tablet)) !important;
    }

    .content>* {
        width: unset;
        min-width: unset;
        min-height: unset;
        height: unset;
    }
}

@media (max-width: 767px) {
    .container {
        padding-top: calc(80 * 100vw / var(--base-width-mobile));
        padding-bottom: calc(20 * 100vw / var(--base-width-mobile));
        padding-inline: 0 !important;
        gap: calc(10 * 100vw / var(--base-width-mobile));
    }


    .content {
        translate: 0;
        max-height: calc(390 * 100vw / var(--base-width-mobile)) !important;
        height: calc(390 * 100vw / var(--base-width-mobile)) !important;
    }

    .text {
        gap: calc(8 * 100vw / var(--base-width-mobile));
    }

    .mobileText {
        max-width: 75%;
    }

    .title {
        font-size: calc(32 * 100vw / var(--base-width-mobile)) !important;
    }

    .swiper {
        width: 100% !important;
        /* min-height: calc(390 * 100vw / var(--base-width-mobile)) !important;
        height: calc(390 * 100vw / var(--base-width-mobile)) !important;
        max-height: calc(390 * 100vw / var(--base-width-mobile)) !important; */
        flex: 1;
    }

    .slide>* {
        width: 100%;
        height: 100%;
    }
}