.wideCardSwiper {
    width: 100%;
    height: 100%;
}

.wideCardSwiperWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.wideCardSwiperSlide {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;

    transition: all 0.54s ease;

    overflow: hidden;
    border-radius: calc(18.6 * 100vw / var(--base-width));

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.wideCardSwiperSlide img {
    pointer-events: none;
}

.wideCardSwiperSlide>* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.wideCardSwiperSlide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #040504c0, rgba(4, 5, 4, 0.5));
    pointer-events: none;
    z-index: 3;

    transition: opacity 0.54s ease;

    opacity: 0;
}





@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* 
 * Логика состояний слайдов:
 * .active - Текущий слайд в центре.
 * .prev - Слайд слева (виден частично).
 * .next - Слайд справа (скрыт, ждет своей очереди).
 * .outOfVision - Слайд, который ушел влево и становится невидимым, чтобы перенестись в конец очереди без анимации.
 */

.active {
    z-index: 2;
    transform: none;
    transition-delay: 0.27s;
}

.prev {
    z-index: 1;
    transform: translateX(-25%) scale(.9);
    opacity: 0;
    animation: fadeIn 0.54s ease forwards 0.54s;
}

.prev::before {
    opacity: 1;
}

.next {
    z-index: 0;
    opacity: 0;
    transform: translateX(45%) scale(1.1);
}

.next::before {
    opacity: 1;
}

.outOfVision {
    z-index: -1;
    opacity: 0;
    transform: translateX(-35%) scale(.5);
    transition: opacity 0.27s, transform 0.54s;
}

.outOfVision::before {
    opacity: 1;
}

.wideCardSwiperProgress {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(8 * 100vw / var(--base-width));
}

.swiperProgressTrack {
    width: calc(168 * 100vw / var(--base-width));
    min-width: calc(168 * 100vw / var(--base-width));

    height: calc(3 * 100vw / var(--base-width));
    min-height: calc(3 * 100vw / var(--base-width));
    background: var(--white);
    background-color: rgba(255, 255, 255, 0.17);

    filter: blur(calc(1 * 100vw / var(--base-width)));
}


.swiperProgressThumb {
    height: calc(3 * 100vw / var(--base-width));
    min-height: calc(3 * 100vw / var(--base-width));
    /* background: linear-gradient(268.64deg, #597147 -0.82%, #DAFA78 15.07%, #E7F8E0 51.57%, #D9ECC9 78.89%, #DAFA78 85.2%, #597147 98.13%); */
    backdrop-filter: blur(calc(5 * 100vw / var(--base-width)));
    translate: 0 -25%;
}


.wideCardSwiperProgress span {
    font-size: calc(8 * 100vw / var(--base-width));
    color: var(--white);
    opacity: .27;

    transition: opacity 0.54s ease;
}

.wideCardSwiperProgress span.active {
    opacity: .8;
}