.predict {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: calc(40 * 100vw / var(--base-width));
  padding-top: calc(100 * 100vw / var(--base-width));
}

.text {
  max-width: calc(660 * 100vw / var(--base-width));
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(20 * 100vw / var(--base-width));
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 1025px) {
  .text {
    scale: 0.7;
    translate: 0 5vw;
  }
}

@media (max-width: 1024px) {
  .predict {
    height: 100svh;
    min-height: 100svh;
    max-height: 100svh;
  }

  .text {
    max-width: 100%;
    width: 100%;
    scale: 1;
    translate: 0 0;
  }

  .container {
    padding-block: calc(100 * 100vw / var(--base-width-tablet));
  }
}

@media (max-width: 767px) {
  .container {
    padding-top: calc(100 * 100vw / var(--base-width-mobile));
    gap: calc(24 * 100vw / var(--base-width-mobile));
  }

  .text {
    max-width: 100%;
    width: 100%;
  }
}