.predict {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-image: url('/images/temp/predict-bg.png');
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: calc(40 * 100vw / var(--base-width));
  padding-top: calc(100 * 100vw / var(--base-width));
}

.text {
  max-width: calc(660 * 100vw / var(--base-width));
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(20 * 100vw / var(--base-width));
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    padding-top: calc(100 * 100vw / var(--base-width-mobile));
    gap: calc(24 * 100vw / var(--base-width-mobile));
  }

  .title {
    font-size: calc(38 * 100vw / var(--base-width-mobile)) !important;
  }

  .bodyText {
    font-size: calc(14 * 100vw / var(--base-width-mobile)) !important;
  }

  .text {
    max-width: 100%;
    width: 100%;
  }
}
