.platform {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  height: 100%;
  padding-top: calc(150 * 100vw / var(--base-width));
  gap: calc(40 * 100vw / var(--base-width));
}

.marquee {
  position: absolute !important;
  top: calc(60 * 100vw / var(--base-width));
  left: 0;
  right: 0;
  width: 100%;
}


.marqueeText {
  background: linear-gradient(270deg,
      #97CD06 12.311%,
      #C7ECD8 47.444%,
      rgba(255, 255, 255, 1) 85.405%,
      #97CD06 100.002%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: var(--font-grotesque);
  font-size: calc(150 * 100vw / var(--base-width));
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.05em;
  text-align: center;
  margin-right: calc(25 * 100vw / var(--base-width));
  user-select: none;

  @media (max-width: 1200px) {
    font-size: 12.5rem;
  }
}

.text {
  max-width: calc(540 * 100vw / var(--base-width));
  width: 100%;
  height: 100;
  display: flex;
  flex-direction: column;
  gap: calc(20 * 100vw / var(--base-width));
  text-align: left;
}


@media (max-width: 767px) {
  .platform {
    height: 100svh;
    max-height: 100svh;
    min-height: 100svh;
  }

  .text {
    max-width: 100%;
    gap: calc(20 * 100vw / var(--base-width-mobile));
    padding-inline: calc(18 * 100vw / var(--base-width-mobile));
  }

  .marquee {
    position: relative !important;
  }

  .marqueeText {
    font-size: calc(100 * 100vw / var(--base-width-mobile));
  }

  .container {
    padding-inline: 0;
    padding-top: calc(80 * 100vw / var(--base-width-mobile));
    justify-content: start;
    gap: calc(30 * 100vw / var(--base-width-mobile));
  }

  .bodyText {
    font-size: calc(14 * 100vw / var(--base-width-mobile));
  }

  .platformList {
    gap: calc(20 * 100vw / var(--base-width-mobile));

  }

  .platformListItem {
    font-size: calc(11 * 100vw / var(--base-width-mobile));
    line-height: calc(18 * 100vw / var(--base-width-mobile));
    gap: calc(8 * 100vw / var(--base-width-mobile));
  }

  .platformListItemCircle {
    width: calc(10 * 100vw / var(--base-width-mobile));
    height: calc(10 * 100vw / var(--base-width-mobile));
    min-width: calc(10 * 100vw / var(--base-width-mobile));
    min-height: calc(10 * 100vw / var(--base-width-mobile));
  }
}