.about {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.text {
  max-width: calc(840 * 100vw / var(--base-width));
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(20 * 100vw / var(--base-width));
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 767px) {
  .text {
    max-width: 100%;
    width: 100%;
    gap: calc(16 * 100vw / var(--base-width-mobile));
  }

  .about {
    height: 100svh;
    min-height: 100svh;
    max-height: 100svh;
  }
}