.hiringEmail {
    height: 100vh;
}

.container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: calc(24 * 100vw / var(--base-width));
}

.title {
    max-width: calc(768 * 100vw / var(--base-width));
}

.buttons {
    display: flex;
    gap: calc(24 * 100vw / var(--base-width));
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .withYou {
        height: 100svh;
        max-height: 100svh;
        min-height: 100svh;
    }

    .title {
        max-width: 100%;
    }

    .text {
        gap: calc(20 * 100vw / var(--base-width-mobile));
    }

    .buttons {
        width: 100%;
        gap: unset;
    }

    .buttons {
        gap: calc(18 * 100vw / var(--base-width-mobile));
    }
}