.engineCard {
  backdrop-filter: blur(calc(13 * 100vw / var(--base-width)));
  border: calc(1 * 100vw / var(--base-width)) solid rgba(255, 255, 255, 0.13);
  border-radius: calc(26 * 100vw / var(--base-width));

  max-height: calc(300 * 100vw / var(--base-width));
  min-height: calc(300 * 100vw / var(--base-width));
  height: 100%;
  width: 100%;
}

.engineCardContainer {
  padding: calc(20 * 100vw / var(--base-width));

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(20 * 100vw / var(--base-width));
}

.engineCardLottie {
  max-height: calc(158 * 100vw / var(--base-width));
  height: 100%;
  width: 100%;
}

.engineCardText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  gap: calc(10 * 100vw / var(--base-width));
}

.engineCardTitle {
  font-weight: 400;
  font-style: italic;
  font-family: var(--font-serif);
  font-size: calc(24 * 100vw / var(--base-width));
  line-height: 100%;
  letter-spacing: -1%;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
}

.engineCardSubtitle {
  font-size: calc(16 * 100vw / var(--base-width));
  line-height: 120%;
  letter-spacing: -1%;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
}


@media (max-width: 768px) {
  .engineCard {
    max-height: calc(330 * 100vw / var(--base-width-mobile));
    min-height: calc(330 * 100vw / var(--base-width-mobile));
    height: calc(330 * 100vw / var(--base-width-mobile));
    border-radius: calc(26 * 100vw / var(--base-width-mobile));
  }

  .engineCardContainer {
    padding: calc(16 * 100vw / var(--base-width-mobile));
    gap: calc(16 * 100vw / var(--base-width-mobile));
    height: 100%;
  }

  .engineCardLottie {
    max-height: calc(160 * 100vw / var(--base-width-mobile));
  }

  .engineCardText {
    gap: calc(6 * 100vw / var(--base-width-mobile));
  }

  .engineCardTitle {
    font-size: calc(26 * 100vw / var(--base-width-mobile));
    opacity: 0.8;
  }

  .engineCardSubtitle {
    font-size: calc(16 * 100vw / var(--base-width-mobile));
  }
}