.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  cursor: default;

  background-image: url('/images/temp/hero-bg.png');
}

.container {
  padding-top: calc(110 * 100vw / var(--base-width));
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.text {
  max-width: calc(900 * 100vw / var(--base-width));
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: calc(20 * 100vw / var(--base-width));
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footerLeft {
  max-width: calc(450 * 100vw / var(--base-width));
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(16 * 100vw / var(--base-width));
  align-items: flex-start;
  justify-content: flex-start;
}

.footerRight {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: calc(16 * 100vw / var(--base-width));
}

.scrollIcon {
  width: calc(20 * 100vw / var(--base-width));
  height: calc(20 * 100vw / var(--base-width));
  max-width: calc(20 * 100vw / var(--base-width));
  min-width: calc(20 * 100vw / var(--base-width));
  max-height: calc(20 * 100vw / var(--base-width));
  min-height: calc(20 * 100vw / var(--base-width));
}

.scrollText {
  font-weight: 400;
  font-style: italic;
  font-family: var(--font-serif);
  font-size: calc(14 * 100vw / var(--base-width));
  line-height: 100%;
  letter-spacing: -2%;
  color: #fff;
}

@media (max-width: 768px) {
  .container {
    padding-top: calc(120 * 100vw / var(--base-width-mobile));
  }

  .text {
    max-width: 100%;
    width: 100%;
  }

  .footer {
    display: none !important;
  }
}
